<%
layout("/include/_container.html", {title:"列表", parent:"薪资变更档案"}){
%>
    <!-- 文件上传 -->
    <div id="import-collapse" class="collapse white-box m-b-5">
        <a class="jp-ti-close close close" onclick="$('#import-collapse').fadeToggle()">
            <i class="fa fa-times"></i>
        </a>
        <form id="importForm" method="POST" enctype="multipart/form-data" class="row form-horizontal" >
            <div class="col-xs-12 col-sm-6">
                <input name="file" type="file" class="required form-control">只允许导入&ldquo;xls&rdquo;或&ldquo;xlsx&rdquo;格式文件！<br>　

            </div>
            <div class="col-xs-12 col-sm-6">
                <a  id="btnImportExcel"  class="btn btn-custom waves-effect waves-light btn-rounded m-l-10 btn-md"><i class="fa fa-upload"></i> 开始上传</a>
                <a  id="btnDownloadTpl" class="btn btn-custom waves-effect waves-light btn-rounded m-l-10 btn-md"><i class="fa fa-download"></i> 下载模板</a>
            </div>　
        </form>
    </div>
    <!-- 搜索框-->
    <div id="search-collapse" class="white-box collapse m-b-5">
        <a class="jp-ti-close close" onclick="$('#search-collapse').fadeToggle()">
            <i class="fa fa-times"></i>
        </a>
        <form id="searchForm" class="form-inline" >
            <div class="form-group m-b-10 m-r-10">
                <label class="m-r-10" title="年月：">公司：</label>
                <select name="tag" id="tag" class="form-control">
                    <option value="">请选择</option>
                    <option value="图维">图维</option>
                    <option value="新图维">新图维</option>
                    <option value="华基">华基</option>
                </select>
            </div>
			 <div class="form-group m-b-10 m-r-10">
				<label class="m-r-10" title="姓名：">姓名：</label>
				<input name="user_id"  maxlength="64"  class=" form-control"/>
			</div>
			 <div class="form-group m-b-10 m-r-10">
				<label class="m-r-10" title="变更日期：">变更日期：</label>
				<div class="input-daterange input-group" id="upDate">
                    <input type="text" class="form-control" id="beginUpDate" name="beginUpDate">
                    <span class="input-group-text btn-custom border text-white">to</span>
                    <input type="text" class="form-control" id="endUpDate" name="endUpDate">
                </div>
			</div>
			 <div class="form-group m-b-10 m-r-10">
				<label class="m-r-10" title="变动类型：">变动类型：</label>
				<#select path="reason" items="${fn.getDictList('updown_reason')}" itemLabel="label" itemValue="value"/>
			</div>
		    <div class="form-group m-b-10 m-r-10">
                <a  id="search" class="btn  btn-custom waves-effect waves-light m-l-10 btn-md btn-rounded"><i class="fa fa-search"></i> 查询</a>
                <a  id="reset" class="btn  btn-custom waves-effect waves-light m-l-10 btn-md btn-rounded" ><i class="fa fa-refresh"></i> 重置</a>
            </div>
        </form>
    </div>

	<div class="white-box">

	<!-- 工具栏 -->
	<div id="toolbar">
        <button id="add" class="btn btn-custom waves-effect w-xs waves-light" onclick="goToSync()">
            <i class="fa fa-plus"></i> 统计变更
        </button>
			 <% if(shiro.hasPermission("salary:change:salaryChangeRecord:export") ){ %>
	        	<button id="export" class="btn btn-white waves-effect w-xs waves-light">
					<i class="fa fa-download"></i> 导出
				</button>
			 <% } %>
		    </div>
		
	<!-- 表格 -->
	<table id="salaryChangeRecordTable" class="table-bordered"   data-toolbar="#toolbar"></table>
	</div>

	<% include("salaryChangeRecordList.js"){} %>
	<% } %>