<%
layout("/include/_container.html", {title:"列表", parent:"材料出库单"}){
%>
    <!-- 文件上传 -->
    <div id="import-collapse" class="collapse white-box m-b-5">
        <a class="jp-ti-close close close" onclick="$('#import-collapse').fadeToggle()">
            <i class="fa fa-times"></i>
        </a>
        <form id="importForm" method="POST" enctype="multipart/form-data" class="row form-horizontal" >
            <div class="col-xs-12 col-sm-6">
                <input name="file" type="file" class="required form-control">只允许导入&ldquo;xls&rdquo;或&ldquo;xlsx&rdquo;格式文件！<br>　

            </div>
            <div class="col-xs-12 col-sm-6">
                <a  id="btnImportExcel"  class="btn btn-custom waves-effect waves-light btn-rounded m-l-10 btn-md"><i class="fa fa-upload"></i> 开始上传</a>
                <a  id="btnDownloadTpl" class="btn btn-custom waves-effect waves-light btn-rounded m-l-10 btn-md"><i class="fa fa-download"></i> 下载模板</a>
            </div>　
        </form>
    </div>
    <!-- 搜索框-->
    <div id="search-collapse" class="white-box collapse m-b-5">
        <a class="jp-ti-close close" onclick="$('#search-collapse').fadeToggle()">
            <i class="fa fa-times"></i>
        </a>
        <form id="searchForm" class="form-inline">
			 <div class="form-group m-b-10 m-r-10">
				<label class="m-r-10" title="单号：">单号：</label>
				<input name="code"  maxlength="64"  class=" form-control"/>
			</div>
			 <div class="form-group m-b-10 m-r-10">
				<label class="m-r-10" title="生产订单号：">生产订单号：</label>
				<input name="sccode"  maxlength="64"  class=" form-control"/>
			</div>
			<div class="form-group m-b-10 m-r-10">
				<label class="m-r-10" title="生产订单号：">生产行号：</label>
				<input name="sclinecode"  maxlength="64"  class=" form-control"/>
			</div>
			<div class="form-group m-b-10 m-r-10">
				<label class="m-r-10" title="生产订单号：">计划单号：</label>
				<input name="plancode"  maxlength="64"  class=" form-control"/>
			</div>
			<div class="form-group m-b-10 m-r-10">
				<label class="m-r-10" title="生产订单号：">报工单号：</label>
				<input name="bgcode"  maxlength="64"  class=" form-control"/>
			</div>
			 <div class="form-group m-b-10 m-r-10">
				<label class="m-r-10" title="存货编码：">存货编码：</label>
				<input name="cinvcode"  maxlength="64"  class=" form-control"/>
			</div>
			 <div class="form-group m-b-10 m-r-10">
				<label class="m-r-10" title="存货名称：">存货名称：</label>
				<input name="cinvname"  maxlength="64"  class=" form-control"/>
			</div>
			 <div class="form-group m-b-10 m-r-10">
				<label class="m-r-10" title="规格型号：">规格型号：</label>
				<input name="cinvstd"  maxlength="64"  class=" form-control"/>
			</div>
			 <div class="form-group m-b-10 m-r-10">
				<label class="m-r-10" title="仓库：">仓库：</label>
				<#gridselect url="${ctx}/base/cangku/baseCangKu/data" id="ck" name="ck.id"  labelName="ck.name"
							 title="选择仓库" class="form-control required" fieldLabels="编码|名称|工厂" fieldKeys="code|name|factory.name" searchLabels="编码|名称" searchKeys="code|name"/>
			</div>
		    <div class="form-group m-b-10 m-r-10">
                <a  id="search" class="btn  btn-custom waves-effect waves-light m-l-10 btn-md btn-rounded"><i class="fa fa-search"></i> 查询</a>
                <a  id="reset" class="btn  btn-custom waves-effect waves-light m-l-10 btn-md btn-rounded" ><i class="fa fa-refresh"></i> 重置</a>
            </div>
        </form>
    </div>

	<div class="white-box">

	<!-- 工具栏 -->
	<div id="toolbar">
			 <% if(shiro.hasPermission("business:chuku:lingliao:businessChuKuLingLiao:pcadd") ){ %>
			 	<button id="add" class="btn btn-custom waves-effect w-xs waves-light" onclick="add()">
					<i class="fa fa-plus"></i> PC材料出库
				</button>
			<% } %>
			 <% if(shiro.hasPermission("business:chuku:lingliao:businessChuKuLingLiao:edit") ){ %>
<!--			    <button id="edit" class="btn btn-white waves-effect w-xs waves-light" disabled onclick="edit()">-->
<!--	            	<i class="fa fa-edit"></i> 修改-->
<!--	        	</button>-->
			<% } %>
			 <% if(shiro.hasPermission("business:chuku:lingliao:businessChuKuLingLiao:del") ){ %>
				<button id="remove" class="btn btn-white waves-effect w-xs waves-light" disabled onclick="del()">
	            	<i class="fa fa-remove"></i> 删除
	        	</button>
			<% } %>
			<% if(shiro.hasPermission("business:chuku:lingliao:businessChuKuLingLiao:u8in") ){ %>
			<button id="u8in" class="btn btn-white waves-effect w-xs waves-light" disabled onclick="u8in()">
				<i class="fa "></i> 传入ERP
			</button>
			<% } %>
			 <% if(shiro.hasPermission("business:chuku:lingliao:businessChuKuLingLiao:import") ){ %>
<!--				<button id="import"  class="btn btn-white waves-effect w-xs waves-light" >-->
<!--					<i class="fa fa-upload"></i> 导入-->
<!--				</button>-->
			<% } %>
			 <% if(shiro.hasPermission("business:chuku:lingliao:businessChuKuLingLiao:export") ){ %>
<!--	        	<button id="export" class="btn btn-white waves-effect w-xs waves-light">-->
<!--					<i class="fa fa-download"></i> 导出-->
<!--				</button>-->
			 <% } %>
		    </div>
		
	<!-- 表格 -->
	<table id="businessChuKuLingLiaoTable" class="table-bordered"   data-toolbar="#toolbar"></table>
	</div>

	<% include("businessChuKuLingLiaoList.js"){} %>
	<% } %>