<%
layout("/include/_dialog.html"){
%>
	<script type="text/javascript">

		$(document).ready(function() {
						});

		function save() {
            var isValidate = jp.validateForm('#inputForm');//校验表单
            if(!isValidate){
                return false;
			}else{
                var index = jp.loading();
                jp.post("${ctx}/qiyewx/daka/month/qiYeWxDaKaMonth/save",$('#inputForm').serialize(),function(data){
                    if(data.success){
                        jp.getParent().refresh();
                        var dialogIndex = parent.layer.getFrameIndex(window.name); // 获取窗口索引
                        parent.layer.close(dialogIndex);
                        jp.toastr_success(data.msg)

                    }else{
                        jp.toastr_error(data.msg);
                    }
                    jp.close(index);
                })
			}

        }

		function addRow(list, idx, tpl, row){
			$(list).append(Mustache.render(tpl, {
				idx: idx, delBtn: true, row: row
			}));
			$(list+idx).find("select").each(function(){
				$(this).val($(this).attr("data-value"));
			});
			$(list+idx).find("input[type='checkbox'], input[type='radio']").each(function(){
				var ss = $(this).attr("data-value").split(',');
				for (var i=0; i<ss.length; i++){
					if($(this).val() == ss[i]){
						$(this).attr("checked","checked");
					}
				}
			});
			$(list+idx).find(".jp-calendar-picker-input").each(function(){
				 $(this).datetimepicker({
					 format:'Y-m-d H:i'
			    });
			});
		}
		function delRow(obj, prefix){
			var id = $(prefix+"_id");
			var delFlag = $(prefix+"_delFlag");
			if (id.val() == ""){
				$(obj).parent().parent().remove();
			}else if(delFlag.val() == "0"){
				delFlag.val("1");
				$(obj).html("&divide;").attr("title", "撤销删除");
				$(obj).parent().parent().addClass("error");
			}else if(delFlag.val() == "1"){
				delFlag.val("0");
				$(obj).html("&times;").attr("title", "删除");
				$(obj).parent().parent().removeClass("error");
			}
		}
	</script>
<form id="inputForm"  method="post"  class="form-horizontal p-15">
		<input type="hidden" name="id" value="${qiYeWxDaKaMonth.id!}"/>
		<table class="table table-bordered">
		   <tbody>
				<tr>
					<td class="width-15 active"><label class="pull-right">记录类型：</label></td>
					<td class="width-35">
						<#select path="recordType" value="${qiYeWxDaKaMonth.recordType!}" items="${fn.getDictList('qywx_daka_type')}" itemLabel="label" itemValue="value" class=""/>
				</td>
					<td class="width-15 active"><label class="pull-right">打卡人员姓名：</label></td>
					<td class="width-35">
						<input name="name" value="${qiYeWxDaKaMonth.name!}"    class="form-control "/>
				</td>
				</tr>
				<tr>
					<td class="width-15 active"><label class="pull-right">打卡人员帐号：</label></td>
					<td class="width-35">
						<input name="acctid" value="${qiYeWxDaKaMonth.acctid!}"    class="form-control "/>
				</td>
					<td class="width-15 active"><label class="pull-right">打卡人员所在部门：</label></td>
					<td class="width-35">
						<input name="departs_name" value="${qiYeWxDaKaMonth.departs_name!}"    class="form-control "/>
				</td>
				</tr>
		 	</tbody>
		</table>
			<div class="card card-tabs">
            <div class="card-heading  pb-0">
                <ul class="nav nav-pills float-left" role="tablist">
				<li class="nav-item">
					<a data-toggle="tab" class="nav-link show active" role="tab" href="#tab-1" aria-expanded="true">异常状态统计信息：</a>
                </li>
				<li class="nav-item">
					<a data-toggle="tab" class="nav-link show" role="tab" href="#tab-2" aria-expanded="false">加班情况：</a>
                </li>
				<li class="nav-item">
					<a data-toggle="tab" class="nav-link show" role="tab" href="#tab-3" aria-expanded="false">假勤统计信息：</a>
                </li>
				<li class="nav-item">
					<a data-toggle="tab" class="nav-link show" role="tab" href="#tab-4" aria-expanded="false">汇总信息：</a>
                </li>
            </ul>
            </div>
            <div class="card-body">
		    <div class="tab-content">
			<div id="tab-1" class="tab-pane fade active show">
			<a class="btn btn-white btn-sm m-b-5" onclick="addRow('#qiYeWxDakaMonthExceptionList', qiYeWxDakaMonthExceptionRowIdx, qiYeWxDakaMonthExceptionTpl);qiYeWxDakaMonthExceptionRowIdx = qiYeWxDakaMonthExceptionRowIdx + 1;" title="新增"><i class="fa fa-plus"></i> 新增</a>
			<table class="table table-striped table-bordered table-condensed">
				<thead>
					<tr>
						<th class="hide"></th>
						<th>异常类型</th>
						<th>异常次数</th>
						<th>异常时长</th>
						<th width="10">&nbsp;</th>
					</tr>
				</thead>
				<tbody id="qiYeWxDakaMonthExceptionList">
				</tbody>
			</table>
			<script type="text/template" id="qiYeWxDakaMonthExceptionTpl">//<!--
				<tr id="qiYeWxDakaMonthExceptionList{{idx}}">
					<td class="hide">
						<input id="qiYeWxDakaMonthExceptionList{{idx}}_id" name="qiYeWxDakaMonthExceptionList[{{idx}}].id" type="hidden" value="{{row.id}}"/>
						<input id="qiYeWxDakaMonthExceptionList{{idx}}_delFlag" name="qiYeWxDakaMonthExceptionList[{{idx}}].delFlag" type="hidden" value="0"/>
					</td>
					
					<td>
						<select id="qiYeWxDakaMonthExceptionList{{idx}}_exception" name="qiYeWxDakaMonthExceptionList[{{idx}}].exception" data-value="{{row.exception}}" class="form-control m-b  ">
							<option value=""></option>
							<% for(dict in fn.getDictList('qywx_daka_type') ){ %>
								<option value="${dict.value}">${dict.label}</option>
							<% } %>
						</select>
					</td>
					
					
					<td>
						<input id="qiYeWxDakaMonthExceptionList{{idx}}_count" name="qiYeWxDakaMonthExceptionList[{{idx}}].count" type="text" value="{{row.count}}"    class="form-control "/>
					</td>
					
					
					<td>
						<input id="qiYeWxDakaMonthExceptionList{{idx}}_duration" name="qiYeWxDakaMonthExceptionList[{{idx}}].duration" type="text" value="{{row.duration}}"    class="form-control "/>
					</td>
					
					<td class="text-center" width="10">
						{{#delBtn}}<span class="close" onclick="delRow(this, '#qiYeWxDakaMonthExceptionList{{idx}}')" title="删除">&times;</span>{{/delBtn}}
					</td>
				</tr>//-->
			</script>
			<script type="text/javascript">
				var qiYeWxDakaMonthExceptionRowIdx = 0, qiYeWxDakaMonthExceptionTpl = $("#qiYeWxDakaMonthExceptionTpl").html().replace(/(\/\/\<!\-\-)|(\/\/\-\->)/g,"");
				$(document).ready(function() {
					var data = ${fn.toJson(qiYeWxDaKaMonth.qiYeWxDakaMonthExceptionList)};
					for (var i=0; i<data.length; i++){
						addRow('#qiYeWxDakaMonthExceptionList', qiYeWxDakaMonthExceptionRowIdx, qiYeWxDakaMonthExceptionTpl, data[i]);
						qiYeWxDakaMonthExceptionRowIdx = qiYeWxDakaMonthExceptionRowIdx + 1;
					}
				});
			</script>
			</div>
			<div id="tab-2" class="tab-pane fade show">
			<a class="btn btn-white btn-sm m-b-5" onclick="addRow('#qiYeWxDaKaMonthOverworkList', qiYeWxDaKaMonthOverworkRowIdx, qiYeWxDaKaMonthOverworkTpl);qiYeWxDaKaMonthOverworkRowIdx = qiYeWxDaKaMonthOverworkRowIdx + 1;" title="新增"><i class="fa fa-plus"></i> 新增</a>
			<table class="table table-striped table-bordered table-condensed">
				<thead>
					<tr>
						<th class="hide"></th>
						<th>工作日加班时长</th>
						<th>节假日加班时长</th>
						<th>休息日加班时长</th>
						<th width="10">&nbsp;</th>
					</tr>
				</thead>
				<tbody id="qiYeWxDaKaMonthOverworkList">
				</tbody>
			</table>
			<script type="text/template" id="qiYeWxDaKaMonthOverworkTpl">//<!--
				<tr id="qiYeWxDaKaMonthOverworkList{{idx}}">
					<td class="hide">
						<input id="qiYeWxDaKaMonthOverworkList{{idx}}_id" name="qiYeWxDaKaMonthOverworkList[{{idx}}].id" type="hidden" value="{{row.id}}"/>
						<input id="qiYeWxDaKaMonthOverworkList{{idx}}_delFlag" name="qiYeWxDaKaMonthOverworkList[{{idx}}].delFlag" type="hidden" value="0"/>
					</td>
					
					<td>
						<input id="qiYeWxDaKaMonthOverworkList{{idx}}_workdayOverSec" name="qiYeWxDaKaMonthOverworkList[{{idx}}].workdayOverSec" type="text" value="{{row.workdayOverSec}}"    class="form-control "/>
					</td>
					
					
					<td>
						<input id="qiYeWxDaKaMonthOverworkList{{idx}}_holidaysOverSec" name="qiYeWxDaKaMonthOverworkList[{{idx}}].holidaysOverSec" type="text" value="{{row.holidaysOverSec}}"    class="form-control "/>
					</td>
					
					
					<td>
						<input id="qiYeWxDaKaMonthOverworkList{{idx}}_restdaysOverSec" name="qiYeWxDaKaMonthOverworkList[{{idx}}].restdaysOverSec" type="text" value="{{row.restdaysOverSec}}"    class="form-control "/>
					</td>
					
					<td class="text-center" width="10">
						{{#delBtn}}<span class="close" onclick="delRow(this, '#qiYeWxDaKaMonthOverworkList{{idx}}')" title="删除">&times;</span>{{/delBtn}}
					</td>
				</tr>//-->
			</script>
			<script type="text/javascript">
				var qiYeWxDaKaMonthOverworkRowIdx = 0, qiYeWxDaKaMonthOverworkTpl = $("#qiYeWxDaKaMonthOverworkTpl").html().replace(/(\/\/\<!\-\-)|(\/\/\-\->)/g,"");
				$(document).ready(function() {
					var data = ${fn.toJson(qiYeWxDaKaMonth.qiYeWxDaKaMonthOverworkList)};
					for (var i=0; i<data.length; i++){
						addRow('#qiYeWxDaKaMonthOverworkList', qiYeWxDaKaMonthOverworkRowIdx, qiYeWxDaKaMonthOverworkTpl, data[i]);
						qiYeWxDaKaMonthOverworkRowIdx = qiYeWxDaKaMonthOverworkRowIdx + 1;
					}
				});
			</script>
			</div>
			<div id="tab-3" class="tab-pane fade show">
			<a class="btn btn-white btn-sm m-b-5" onclick="addRow('#qiYeWxDaKaMonthSpItemList', qiYeWxDaKaMonthSpItemRowIdx, qiYeWxDaKaMonthSpItemTpl);qiYeWxDaKaMonthSpItemRowIdx = qiYeWxDaKaMonthSpItemRowIdx + 1;" title="新增"><i class="fa fa-plus"></i> 新增</a>
			<table class="table table-striped table-bordered table-condensed">
				<thead>
					<tr>
						<th class="hide"></th>
						<th>假勤类型</th>
						<th>假勤次数</th>
						<th>假勤时长</th>
						<th>时长单位</th>
						<th>统计项名称</th>
						<th width="10">&nbsp;</th>
					</tr>
				</thead>
				<tbody id="qiYeWxDaKaMonthSpItemList">
				</tbody>
			</table>
			<script type="text/template" id="qiYeWxDaKaMonthSpItemTpl">//<!--
				<tr id="qiYeWxDaKaMonthSpItemList{{idx}}">
					<td class="hide">
						<input id="qiYeWxDaKaMonthSpItemList{{idx}}_id" name="qiYeWxDaKaMonthSpItemList[{{idx}}].id" type="hidden" value="{{row.id}}"/>
						<input id="qiYeWxDaKaMonthSpItemList{{idx}}_delFlag" name="qiYeWxDaKaMonthSpItemList[{{idx}}].delFlag" type="hidden" value="0"/>
					</td>
					
					<td>
						<select id="qiYeWxDaKaMonthSpItemList{{idx}}_type" name="qiYeWxDaKaMonthSpItemList[{{idx}}].type" data-value="{{row.type}}" class="form-control m-b  ">
							<option value=""></option>
							<% for(dict in fn.getDictList('qywx_daka_type') ){ %>
								<option value="${dict.value}">${dict.label}</option>
							<% } %>
						</select>
					</td>
					
					
					<td>
						<input id="qiYeWxDaKaMonthSpItemList{{idx}}_count" name="qiYeWxDaKaMonthSpItemList[{{idx}}].count" type="text" value="{{row.count}}"    class="form-control "/>
					</td>
					
					
					<td>
						<input id="qiYeWxDaKaMonthSpItemList{{idx}}_duration" name="qiYeWxDaKaMonthSpItemList[{{idx}}].duration" type="text" value="{{row.duration}}"    class="form-control "/>
					</td>
					
					
					<td>
						<input id="qiYeWxDaKaMonthSpItemList{{idx}}_timeType" name="qiYeWxDaKaMonthSpItemList[{{idx}}].timeType" type="text" value="{{row.timeType}}"    class="form-control "/>
					</td>
					
					
					<td>
						<input id="qiYeWxDaKaMonthSpItemList{{idx}}_name" name="qiYeWxDaKaMonthSpItemList[{{idx}}].name" type="text" value="{{row.name}}"    class="form-control "/>
					</td>
					
					<td class="text-center" width="10">
						{{#delBtn}}<span class="close" onclick="delRow(this, '#qiYeWxDaKaMonthSpItemList{{idx}}')" title="删除">&times;</span>{{/delBtn}}
					</td>
				</tr>//-->
			</script>
			<script type="text/javascript">
				var qiYeWxDaKaMonthSpItemRowIdx = 0, qiYeWxDaKaMonthSpItemTpl = $("#qiYeWxDaKaMonthSpItemTpl").html().replace(/(\/\/\<!\-\-)|(\/\/\-\->)/g,"");
				$(document).ready(function() {
					var data = ${fn.toJson(qiYeWxDaKaMonth.qiYeWxDaKaMonthSpItemList)};
					for (var i=0; i<data.length; i++){
						addRow('#qiYeWxDaKaMonthSpItemList', qiYeWxDaKaMonthSpItemRowIdx, qiYeWxDaKaMonthSpItemTpl, data[i]);
						qiYeWxDaKaMonthSpItemRowIdx = qiYeWxDaKaMonthSpItemRowIdx + 1;
					}
				});
			</script>
			</div>
			<div id="tab-4" class="tab-pane fade show">
			<a class="btn btn-white btn-sm m-b-5" onclick="addRow('#qiYeWxDaKaMonthSummaryList', qiYeWxDaKaMonthSummaryRowIdx, qiYeWxDaKaMonthSummaryTpl);qiYeWxDaKaMonthSummaryRowIdx = qiYeWxDaKaMonthSummaryRowIdx + 1;" title="新增"><i class="fa fa-plus"></i> 新增</a>
			<table class="table table-striped table-bordered table-condensed">
				<thead>
					<tr>
						<th class="hide"></th>
						<th>应打卡天数</th>
						<th>正常天数</th>
						<th>异常天数</th>
						<th>实际工作时长</th>
						<th>标准工作时长</th>
						<th width="10">&nbsp;</th>
					</tr>
				</thead>
				<tbody id="qiYeWxDaKaMonthSummaryList">
				</tbody>
			</table>
			<script type="text/template" id="qiYeWxDaKaMonthSummaryTpl">//<!--
				<tr id="qiYeWxDaKaMonthSummaryList{{idx}}">
					<td class="hide">
						<input id="qiYeWxDaKaMonthSummaryList{{idx}}_id" name="qiYeWxDaKaMonthSummaryList[{{idx}}].id" type="hidden" value="{{row.id}}"/>
						<input id="qiYeWxDaKaMonthSummaryList{{idx}}_delFlag" name="qiYeWxDaKaMonthSummaryList[{{idx}}].delFlag" type="hidden" value="0"/>
					</td>
					
					<td>
						<input id="qiYeWxDaKaMonthSummaryList{{idx}}_workDays" name="qiYeWxDaKaMonthSummaryList[{{idx}}].workDays" type="text" value="{{row.workDays}}"    class="form-control "/>
					</td>
					
					
					<td>
						<input id="qiYeWxDaKaMonthSummaryList{{idx}}_regularDays" name="qiYeWxDaKaMonthSummaryList[{{idx}}].regularDays" type="text" value="{{row.regularDays}}"    class="form-control "/>
					</td>
					
					
					<td>
						<input id="qiYeWxDaKaMonthSummaryList{{idx}}_exceptDays" name="qiYeWxDaKaMonthSummaryList[{{idx}}].exceptDays" type="text" value="{{row.exceptDays}}"    class="form-control "/>
					</td>
					
					
					<td>
						<input id="qiYeWxDaKaMonthSummaryList{{idx}}_regularWorkSec" name="qiYeWxDaKaMonthSummaryList[{{idx}}].regularWorkSec" type="text" value="{{row.regularWorkSec}}"    class="form-control "/>
					</td>
					
					
					<td>
						<input id="qiYeWxDaKaMonthSummaryList{{idx}}_standardWorkSec" name="qiYeWxDaKaMonthSummaryList[{{idx}}].standardWorkSec" type="text" value="{{row.standardWorkSec}}"    class="form-control "/>
					</td>
					
					<td class="text-center" width="10">
						{{#delBtn}}<span class="close" onclick="delRow(this, '#qiYeWxDaKaMonthSummaryList{{idx}}')" title="删除">&times;</span>{{/delBtn}}
					</td>
				</tr>//-->
			</script>
			<script type="text/javascript">
				var qiYeWxDaKaMonthSummaryRowIdx = 0, qiYeWxDaKaMonthSummaryTpl = $("#qiYeWxDaKaMonthSummaryTpl").html().replace(/(\/\/\<!\-\-)|(\/\/\-\->)/g,"");
				$(document).ready(function() {
					var data = ${fn.toJson(qiYeWxDaKaMonth.qiYeWxDaKaMonthSummaryList)};
					for (var i=0; i<data.length; i++){
						addRow('#qiYeWxDaKaMonthSummaryList', qiYeWxDaKaMonthSummaryRowIdx, qiYeWxDaKaMonthSummaryTpl, data[i]);
						qiYeWxDaKaMonthSummaryRowIdx = qiYeWxDaKaMonthSummaryRowIdx + 1;
					}
				});
			</script>
			</div>
		</div>
		</div>
		</div>
		</form>
<% } %>