<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.business.shengchan.beiliao.apply.mapper.BusinessShengChanBeiLiaoApplyMapper">
    
	<sql id="businessShengChanBeiLiaoApplyColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.sccode AS "sccode",
		a.scline AS "scline",
		a.scdept AS "dept.id",
		a.cinvcode AS "cinvcode",
		a.cinvname AS "cinvname",
		a.cinvstd AS "cinvstd",
		a.num AS "num",
		a.startdate as "startdate",
		a.enddate as "enddate",
		a.batchno as "batchno",
		a.unit AS "unit",
		a.scid AS "scid",
		a.schid AS "schid",
		a.printstatus AS "printstatus",
		dept.name AS "dept.name"
	</sql>
	
	<sql id="businessShengChanBeiLiaoApplyJoins">
		LEFT JOIN sys_office dept ON dept.id = a.scdept
	</sql>
	
    
	<select id="get" resultType="BusinessShengChanBeiLiaoApply" >
		SELECT 
			<include refid="businessShengChanBeiLiaoApplyColumns"/>
		FROM business_shengchan_beiliao_apply a
		<include refid="businessShengChanBeiLiaoApplyJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="BusinessShengChanBeiLiaoApply" >
		SELECT 
			<include refid="businessShengChanBeiLiaoApplyColumns"/>
		FROM business_shengchan_beiliao_apply a
		<include refid="businessShengChanBeiLiaoApplyJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="sccode != null and sccode != ''">
				AND a.sccode  like concat('%',#{sccode},'%')
			</if>
			<if test="scline != null and scline != ''">
				AND a.scline = #{scline}
			</if>
			<if test="dept != null and dept.id != null and dept.id != ''">
				AND a.scdept = #{dept.id}
			</if>
			<if test="cinvcode != null and cinvcode != ''">
				AND a.cinvcode  like concat('%',#{cinvcode},'%')
			</if>
			<if test="cinvname != null and cinvname != ''">
				AND a.cinvname  like concat('%',#{cinvname},'%')
			</if>
			<if test="cinvstd != null and cinvstd != ''">
				AND a.cinvstd  like concat('%',#{cinvstd},'%')
			</if>
			<if test="printstatus != null and printstatus != ''">
				and a.printstatus = #{printstatus}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="BusinessShengChanBeiLiaoApply" >
		SELECT 
			<include refid="businessShengChanBeiLiaoApplyColumns"/>
		FROM business_shengchan_beiliao_apply a
		<include refid="businessShengChanBeiLiaoApplyJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO business_shengchan_beiliao_apply(
			id,printstatus,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			sccode,
			scline,
			scdept,
			cinvcode,
			cinvname,
			cinvstd,
			num,
			unit,
			scid,batchno,
			startdate,
			enddate,
			schid
		) VALUES (
			#{id},'未打印',
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{sccode},
			#{scline},
			#{dept.id},
			#{cinvcode},
			#{cinvname},
			#{cinvstd},
			#{num},
			#{unit},
			#{scid},#{batchno},
			#{startdate},
			#{enddate},
			#{schid}
		)
	</insert>
	
	<update id="update">
		UPDATE business_shengchan_beiliao_apply SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			sccode = #{sccode},
			scline = #{scline},
			scdept = #{dept.id},
			cinvcode = #{cinvcode},
			cinvname = #{cinvname},
			cinvstd = #{cinvstd},
			num = #{num},
			unit = #{unit},
			scid = #{scid},
			schid = #{schid}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM business_shengchan_beiliao_apply
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE business_shengchan_beiliao_apply SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="BusinessShengChanBeiLiaoApply" statementType="STATEMENT">
		select * FROM business_shengchan_beiliao_apply  where ${propertyName} = '${value}'
	</select>
	
</mapper>