<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.business.pandian.mapper.BusinessPanDianMapper">
    
	<sql id="businessPanDianColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.code AS "code",
		a.ddate AS "ddate",
		a.duser AS "duser.id",
		a.ck AS "ck.id",
		a.hw AS "hw.id",
		duser.name AS "duser.name",
				
		ck.name AS "ck.name",
				
		hw.name AS "hw.name"
	</sql>
	
	<sql id="businessPanDianJoins">
		
		LEFT JOIN sys_user duser ON duser.id = a.duser
		LEFT JOIN base_cangku ck ON ck.id = a.ck
		LEFT JOIN base_huowei hw ON hw.id = a.hw
	</sql>
	
    
	<select id="get" resultType="BusinessPanDian" >
		SELECT 
			<include refid="businessPanDianColumns"/>
		FROM business_pandian a
		<include refid="businessPanDianJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="BusinessPanDian" >
		SELECT 
			<include refid="businessPanDianColumns"/>
		FROM business_pandian a
		<include refid="businessPanDianJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="code != null and code != ''">
				AND a.code = #{code}
			</if>
			<if test="beginDdate != null and beginDdate != '' and endDdate != null and endDdate != '' ">
				AND a.ddate BETWEEN #{beginDdate} AND #{endDdate}
			</if>
			<if test="ck != null and ck.id != null and ck.id != ''">
				AND a.ck = #{ck.id}
			</if>
			<if test="hw != null and hw.id != null and hw.id != ''">
				AND a.hw = #{hw.id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="BusinessPanDian" >
		SELECT 
			<include refid="businessPanDianColumns"/>
		FROM business_pandian a
		<include refid="businessPanDianJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO business_pandian(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			code,
			ddate,
			duser,
			ck,
			hw
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{code},
			#{ddate},
			#{duser.id},
			#{ck.id},
			#{hw.id}
		)
	</insert>
	
	<update id="update">
		UPDATE business_pandian SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			code = #{code},
			ddate = #{ddate},
			duser = #{duser.id},
			ck = #{ck.id},
			hw = #{hw.id}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM business_pandian
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE business_pandian SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="BusinessPanDian" statementType="STATEMENT">
		select * FROM business_pandian  where ${propertyName} = '${value}'
	</select>
	
</mapper>