<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.business.baogong.order.mapper.BusinessBaoGongOrderMapper">
    
	<sql id="businessBaoGongOrderColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.del_flag AS "delFlag",
		a.orderlineid	as "orderlineid",
		a.ordercode AS "ordercode",
		a.batchno as "batchno",
		a.orderline AS "orderline",
		a.plancode AS "plancode",
		a.planid as "planid",
		a.dept AS "dept",
		a.deptname AS "deptName",
		a.cinvcode AS "cinvcode",
		a.cinvname AS "cinvname",
		a.cinvstd AS "cinvstd",
		a.num AS "num",
		a.unit as "unit",
		a.start_date AS "startdate",
		a.end_date AS "enddate",
		a.qrcode as "qrcode",
		a.bgcode AS "bgcode",
		a.isprint as "isprint",
		a.complate AS "complate",
		a.remarks AS "remarks"
	</sql>
	
	<sql id="businessBaoGongOrderJoins">
		
	</sql>

	<select id="getByCode" resultType="BusinessBaoGongOrder">
		SELECT
		<include refid="businessBaoGongOrderColumns"/>
		FROM business_baogao_order a
		<include refid="businessBaoGongOrderJoins"/>
		WHERE a.bgcode = #{code} limit 1;
	</select>
    
	<select id="get" resultType="BusinessBaoGongOrder" >
		SELECT 
			<include refid="businessBaoGongOrderColumns"/>
		FROM business_baogao_order a
		<include refid="businessBaoGongOrderJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="BusinessBaoGongOrder" >
		SELECT 
			<include refid="businessBaoGongOrderColumns"/>
		FROM business_baogao_order a
		<include refid="businessBaoGongOrderJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="ordercode != null and ordercode != ''">
				AND a.ordercode = #{ordercode}
			</if>
			<if test="plancode != null and plancode != ''">
				AND a.plancode = #{plancode}
			</if>
			<if test="dept != null and dept != ''">
				AND a.dept = #{dept}
			</if>
			<if test="bgcode != null and bgcode != ''">
				AND a.bgcode = #{bgcode}
			</if>
			<if test="cinvcode != null  and cinvcode != ''">
				AND a.cinvcode = #{cinvcode}
			</if>
			<if test="cinvname != null  and cinvname != ''">
				AND a.cinvname like concat('%',#{cinvname},'%')
			</if>
			<if test="cinvstd != null  and cinvstd != ''">
				AND a.cinvstd like concat('%',#{cinvstd},'%')
			</if>
			<if test="enddate!=null and enddate !=''">
				and a.end_date = #{enddate}
			</if>
			<if test="startdate!=null and startdate !='' ">
				and a.start_date = #{startdate}
			</if>
			<if test="isprint!=null and isprint !=''">
				and a.isprint = #{isprint}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.start_date asc
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="BusinessBaoGongOrder" >
		SELECT 
			<include refid="businessBaoGongOrderColumns"/>
		FROM business_baogao_order a
		<include refid="businessBaoGongOrderJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO business_baogao_order(
			id,isprint,
			create_by,
			create_date,
			update_by,
			update_date,
			del_flag,
		    orderlineid,
			ordercode,
		    batchno,
			orderline,
			planid,
			plancode,
			dept,
			deptname,
			cinvcode,
			cinvname,
			cinvstd,
			num,unit,
			start_date,
			end_date,
			bgcode,
		    qrcode,
			complate,
			remarks
		) VALUES (
			#{id},'未打印',
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{delFlag},
			#{orderlineid},
			#{ordercode},
			#{batchno},
			#{orderline},
			#{planid},
			#{plancode},
			#{dept},
			#{deptName},
			#{cinvcode},
			#{cinvname},
			#{cinvstd},
			#{num},
			#{unit},
			#{startdate},
			#{enddate},
			#{bgcode},
			#{qrcode},
			'0',
			#{remarks}
		)
	</insert>
	
	<update id="update">
		UPDATE business_baogao_order SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			orderlineid = #{orderlineid},
			ordercode = #{ordercode},
			batchno = #{batchno},
			orderline = #{orderline},
			planid = #{planid},
			plancode = #{plancode},
			dept = #{dept},
			deptname = #{deptName},
			cinvcode = #{cinvcode},
			cinvname = #{cinvname},
			cinvstd = #{cinvstd},
			num = #{num},
		    unit = #{unit},
			start_date = #{startdate},
			end_date = #{enddate},
			bgcode = #{bgcode},
			qrcode = #{qrcode},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM business_baogao_order
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE business_baogao_order SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="BusinessBaoGongOrder" statementType="STATEMENT">
		select * FROM business_baogao_order  where ${propertyName} = '${value}'
	</select>
	
</mapper>