<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.business.baogong.order.mapper.BusinessBaoGongOrderMingXiMapper">
    
	<sql id="businessBaoGongOrderMingXiColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.no AS "no",
		a.site AS "site",
		a.opname AS "opname",
		a.opcode AS "opcode",
		a.num AS "num",
		a.complete AS "complete",
		a.qrcode AS "qrcode",
		a.pid AS "pid.id"
	</sql>
	
	<sql id="businessBaoGongOrderMingXiJoins">
		
			LEFT JOIN business_baogao_order b ON b.id = a.pid
	</sql>
	
    
	<select id="get" resultType="BusinessBaoGongOrderMingXi" >
		SELECT 
			<include refid="businessBaoGongOrderMingXiColumns"/>
		FROM business_baogong_order_mingxi a
		<include refid="businessBaoGongOrderMingXiJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="BusinessBaoGongOrderMingXi" >
		SELECT 
			<include refid="businessBaoGongOrderMingXiColumns"/>
		FROM business_baogong_order_mingxi a
		<include refid="businessBaoGongOrderMingXiJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="pid != null and pid.id != null and pid.id != ''">
				AND a.pid = #{pid.id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="BusinessBaoGongOrderMingXi" >
		SELECT 
			<include refid="businessBaoGongOrderMingXiColumns"/>
		FROM business_baogong_order_mingxi a
		<include refid="businessBaoGongOrderMingXiJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO business_baogong_order_mingxi(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			no,
			site,
			opname,
			opcode,
			num,
			complete,
			qrcode,
			pid
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{no},
			#{site},
			#{opname},
			#{opcode},
			#{num},
			#{complete},
			#{qrcode},
			#{pid.id}
		)
	</insert>
	
	<update id="update">
		UPDATE business_baogong_order_mingxi SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			no = #{no},
			site = #{site},
			opname = #{opname},
			opcode = #{opcode},
			num = #{num},
			complete = #{complete},
			qrcode = #{qrcode},
			pid = #{pid.id}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM business_baogong_order_mingxi
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE pid = #{pid.id}
			</otherwise>
		</choose>
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE business_baogong_order_mingxi SET 
			del_flag = #{DEL_FLAG_DELETE}
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE pid = #{pid.id}
			</otherwise>
		</choose>
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="BusinessBaoGongOrderMingXi" statementType="STATEMENT">
		select * FROM business_baogong_order_mingxi  where ${propertyName} = '${value}'
	</select>
	
</mapper>