<%
layout("/include/_container.html", {title:"仪表盘列表", parent:"仪表盘"}){
%>

<!-- 搜索 -->
<div id="search-collapse" class="white-box collapse m-b-5">
    <a class="jp-ti-close close" onclick="$('#search-collapse').fadeToggle()">
        <i class="fa fa-times"></i>
    </a>
    <form id="searchForm" class="form-inline">
        <div class="form-group m-b-10 m-r-10">
            <label class="m-r-10" title="名字：">名字：</label>
            <input name="name" maxlength="64" class=" form-control"/>
        </div>
        <div class="form-group m-b-10 m-r-10">
            <label class="m-r-10" title="样式：">样式：</label>
            <input name="style" maxlength="64" class=" form-control"/>
        </div>
        <div class="form-group m-b-10 m-r-10">
            <a  id="search" class="btn btn-custom waves-effect waves-light m-l-10 btn-md btn-rounded"><i class="fa fa-search"></i> 查询</a>
            <a  id="reset" class="btn btn-custom waves-effect waves-light m-l-10 btn-md btn-rounded" ><i class="fa fa-refresh"></i> 重置</a>
        </div>
    </form>

</div>
<div class="white-box">

    <!-- 工具栏 -->
    <div id="toolbar">
        <button id="add" class="btn btn-custom waves-effect w-xs waves-light" onclick="add()">
            <i class="fa fa-plus"></i> 新建
        </button>
        <button  id="edit" class="btn btn-white waves-effect w-xs waves-light" onclick="edit()">
            <i class="fa fa-edit"></i> 编辑
        </button>
        <button id="remove" class="btn btn-white waves-effect w-xs waves-light" disabled onclick="del()">
            <i class="fa fa-remove"></i> 删除
        </button>
        <button id="design" class="btn btn-white waves-effect w-xs waves-light" disabled onclick="design()">
            <i class="fa fa-edit"></i> 设计
        </button>
        <button id="preview" class="btn btn-white waves-effect w-xs waves-light" disabled onclick="preview()">预览</button>
        <button id="createMenu" class="btn btn-white waves-effect w-xs waves-light" disabled onclick="createMenu()">发布</button>
    </div>

    <!-- 表格 -->
    <table id="dashBoardTable" class="table-bordered" data-toolbar="#toolbar"></table>
</div>

<% include("dashBoardList.js"){} %>
<% } %>