<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.qiyewx.daka_day.mapper.QiyewxDakaDaySpitemsMapper">
    
	<sql id="qiyewxDakaDaySpitemsColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.day_id AS "day.id",
		a.name AS "name",
		a.type AS "type",
		a.vacation_id AS "vacationId",
		a.count AS "count",
		a.duration AS "duration",
		a.time_type AS "timeType",
				
				
				
				
				
				
				
		b.id AS "day.id"
	</sql>
	
	<sql id="qiyewxDakaDaySpitemsJoins">
		
			LEFT JOIN qiyewx_daka_day b ON b.id = a.day_id
	</sql>
	
    
	<select id="get" resultType="QiyewxDakaDaySpitems" >
		SELECT 
			<include refid="qiyewxDakaDaySpitemsColumns"/>
		FROM qiyewx_daka_day_spitems a
		<include refid="qiyewxDakaDaySpitemsJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="QiyewxDakaDaySpitems" >
		SELECT 
			<include refid="qiyewxDakaDaySpitemsColumns"/>
		FROM qiyewx_daka_day_spitems a
		<include refid="qiyewxDakaDaySpitemsJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="day != null and day.id != null and day.id != ''">
				AND a.day_id = #{day.id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="QiyewxDakaDaySpitems" >
		SELECT 
			<include refid="qiyewxDakaDaySpitemsColumns"/>
		FROM qiyewx_daka_day_spitems a
		<include refid="qiyewxDakaDaySpitemsJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO qiyewx_daka_day_spitems(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			day_id,
			name,
			type,
			vacation_id,
			count,
			duration,
			time_type
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{day.id},
			#{name},
			#{type},
			#{vacationId},
			#{count},
			#{duration},
			#{timeType}
		)
	</insert>
	
	<update id="update">
		UPDATE qiyewx_daka_day_spitems SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			day_id = #{day.id},
			name = #{name},
			type = #{type},
			vacation_id = #{vacationId},
			count = #{count},
			duration = #{duration},
			time_type = #{timeType}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM qiyewx_daka_day_spitems
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE day_id = #{day.id}
			</otherwise>
		</choose>
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE qiyewx_daka_day_spitems SET 
			del_flag = #{DEL_FLAG_DELETE}
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE day_id = #{day.id}
			</otherwise>
		</choose>
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="QiyewxDakaDaySpitems" statementType="STATEMENT">
		select * FROM qiyewx_daka_day_spitems  where ${propertyName} = '${value}'
	</select>
	
</mapper>