<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.qiyewx.daka_day.mapper.QiYewxDaKaDayMapper">
    
	<sql id="qiYewxDaKaDayColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.date AS "date",
		a.name AS "name",
		a.userid AS "userid",
		a.departs_name AS "departsName",
		a.record_type AS "recordType",
		a.day_type AS "dayType",
		a.ot_status AS "otStatus",
		a.ot_duration AS "otDuration",
		a.checkin_count AS "checkinCount",
		a.regular_work_sec AS "regularWorkSec",
		a.standard_work_sec AS "standardWorkSec"
	</sql>
	
	<sql id="qiYewxDaKaDayJoins">
		
	</sql>
	
    
	<select id="get" resultType="QiYewxDaKaDay" >
		SELECT 
			<include refid="qiYewxDaKaDayColumns"/>
		FROM qiyewx_daka_day a
		<include refid="qiYewxDaKaDayJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="QiYewxDaKaDay" >
		SELECT 
			<include refid="qiYewxDaKaDayColumns"/>
		FROM qiyewx_daka_day a
		<include refid="qiYewxDaKaDayJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="beginDate != null and endDate != null ">
				AND a.date BETWEEN #{beginDate} AND #{endDate}
			</if>
			<if test="name != null and name != ''">
				AND a.name = #{name}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="QiYewxDaKaDay" >
		SELECT 
			<include refid="qiYewxDaKaDayColumns"/>
		FROM qiyewx_daka_day a
		<include refid="qiYewxDaKaDayJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO qiyewx_daka_day(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			date,
			name,
			userid,
			departs_name,
			record_type,
			day_type,
			ot_status,
			ot_duration,
			checkin_count,
			regular_work_sec,
			standard_work_sec
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{date},
			#{name},
			#{userid},
			#{departsName},
			#{recordType},
			#{dayType},
			#{otStatus},
			#{otDuration},
			#{checkinCount},
			#{regularWorkSec},
			#{standardWorkSec}
		)
	</insert>
	
	<update id="update">
		UPDATE qiyewx_daka_day SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			date = #{date},
			name = #{name},
			userid = #{userid},
			departs_name = #{departsName},
			record_type = #{recordType},
			day_type = #{dayType},
			ot_status = #{otStatus},
			ot_duration = #{otDuration},
			checkin_count = #{checkinCount},
			regular_work_sec = #{regularWorkSec},
			standard_work_sec = #{standardWorkSec}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM qiyewx_daka_day
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE qiyewx_daka_day SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="QiYewxDaKaDay" statementType="STATEMENT">
		select * FROM qiyewx_daka_day  where ${propertyName} = '${value}'
	</select>
	
</mapper>