<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.u8data.dispatch.mapper.U8DispatchMapper">
    <sql id="dispatchColumns">
        a.DLID as "mid",
        a.autoid as "lineid",
        a.cdlcode as "cdlcode",
        a.dMDate as  "scdate",
        a.dDate as "fahuoDate",
        a.cpersoncode as "cpersoncode",
        a.irowno as "irowno",
        a.cCusCode AS "cCusCode",
         a.ccusname	AS "ccusname",
         a.ccusabbname AS "ccusabbname",
         a.cdepcode	AS "cdepcode",
         a.cdepname	AS "cdepname",
         a.cInvCode	AS "cInvCode",
         a.cInvName	AS "cInvName",
         a.cInvStd	AS "cInvStd",
         a.cComUnitCode AS "cComUnitCode",
         a.cComUnitName	AS "cComUnitName",
         a.iquantity AS "iquantity",
         a.cWhCode AS "cWhCode",
         a.cWhName AS "cWhName",
         a.cSoCode	AS "cSoCode",
        a.iorderrowno AS "iorderrowno",
         a.fOutQuantity	AS "fOutQuantity",
         a.cBatch		AS "cBatch",
         a.cPosition	AS "cPosition",
         a.cPsn_Name	AS "cPsnName"
    </sql>
    <sql id="dispatchJoins">

    </sql>

    <select id="findList" resultType="U8Dispatch">
        select
        <include refid="dispatchColumns"/>
        from YT_API_ERP_view_DispatchList a
        <include refid="dispatchJoins"/>
        <where>
            <if test="start !=null and end != null">
                and a.dDate between #{start}  and #{end}
            </if>
        </where>
    </select>
</mapper>