<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.business.chuku.dispatch.mapper.BusinessChukuDispatchMapper">
    
	<sql id="businessChukuDispatchColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.code AS "code",
		a.dispatchcode AS "dispatchcode",
		a.fahuo_date AS "fahuoDate",
		a.u8code AS "u8code",
		a.dept AS "dept.id",
		a.customer AS "customer.id",
		a.status AS "status",
		a.u8status AS "u8status",
		dept.name AS "dept.name",
		customer.name AS "customer.name"
	</sql>
	
	<sql id="businessChukuDispatchJoins">
		LEFT JOIN sys_office dept ON dept.id = a.dept
		LEFT JOIN base_customer customer ON customer.id = a.customer
	</sql>
	
    
	<select id="get" resultType="BusinessChukuDispatch" >
		SELECT 
			<include refid="businessChukuDispatchColumns"/>
		FROM business_chuku_dispatch a
		<include refid="businessChukuDispatchJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="BusinessChukuDispatch" >
		SELECT 
			<include refid="businessChukuDispatchColumns"/>
		FROM business_chuku_dispatch a
		<include refid="businessChukuDispatchJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="code != null and code != ''">
				AND a.code like concat('%',#{code},'%')
			</if>
			<if test="dispatchcode != null and dispatchcode != ''">
				AND a.dispatchcode like concat('%',#{dispatchcode},'%')
			</if>
			<if test="beginFahuoDate != null and endFahuoDate != null ">
				AND a.fahuo_date BETWEEN #{beginFahuoDate} AND #{endFahuoDate}
			</if>
			<if test="u8code != null and u8code != ''">
				AND a.u8code like concat('%',#{u8code},'%')
			</if>
			<if test="dept != null and dept.id != null and dept.id != ''">
				AND a.dept = #{dept.id}
			</if>
			<if test="customer != null and customer.id != null and customer.id != ''">
				AND a.customer = #{customer.id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="BusinessChukuDispatch" >
		SELECT 
			<include refid="businessChukuDispatchColumns"/>
		FROM business_chuku_dispatch a
		<include refid="businessChukuDispatchJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO business_chuku_dispatch(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			code,
			dispatchcode,
			fahuo_date,
			u8code,
			dept,
			customer,
			status,
			u8status
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{code},
			#{dispatchcode},
			#{fahuoDate},
			#{u8code},
			#{dept.id},
			#{customer.id},
			#{status},
			#{u8status}
		)
	</insert>
	
	<update id="update">
		UPDATE business_chuku_dispatch SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			code = #{code},
			dispatchcode = #{dispatchcode},
			fahuo_date = #{fahuoDate},
			u8code = #{u8code},
			dept = #{dept.id},
			customer = #{customer.id},
			status = #{status},
			u8status = #{u8status}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM business_chuku_dispatch
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE business_chuku_dispatch SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="BusinessChukuDispatch" statementType="STATEMENT">
		select * FROM business_chuku_dispatch  where ${propertyName} = '${value}'
	</select>
	
</mapper>