<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.business.shengchan.beiliao.mapper.BusinessShengChanBeiLiaoMapper">
    
	<sql id="businessShengChanBeiLiaoColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.sccode AS "sccode",
		a.scline AS "scline",
		a.cinvcode AS "cinvcode",
		a.cinvname AS "cinvname",
		a.cinvstd AS "cinvstd",
		a.num AS "num",
		a.unit AS "unit",
		a.dept AS "dept.id",
		a.schid AS "schid",
		a.scid AS "scid",
		a.u8code AS "u8code",
				
				
				
				
				
				
				
				
				
				
				
				
				
				
		dept.name AS "dept.name"
	</sql>
	
	<sql id="businessShengChanBeiLiaoJoins">
		
		LEFT JOIN sys_office dept ON dept.id = a.dept
	</sql>
	
    
	<select id="get" resultType="BusinessShengChanBeiLiao" >
		SELECT 
			<include refid="businessShengChanBeiLiaoColumns"/>
		FROM business_shengchan_beiliao a
		<include refid="businessShengChanBeiLiaoJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="BusinessShengChanBeiLiao" >
		SELECT 
			<include refid="businessShengChanBeiLiaoColumns"/>
		FROM business_shengchan_beiliao a
		<include refid="businessShengChanBeiLiaoJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="sccode != null and sccode != ''">
				AND a.sccode = #{sccode}
			</if>
			<if test="scline != null and scline != ''">
				AND a.scline = #{scline}
			</if>
			<if test="dept != null and dept.id != null and dept.id != ''">
				AND a.dept = #{dept.id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="BusinessShengChanBeiLiao" >
		SELECT 
			<include refid="businessShengChanBeiLiaoColumns"/>
		FROM business_shengchan_beiliao a
		<include refid="businessShengChanBeiLiaoJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO business_shengchan_beiliao(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			sccode,
			scline,
			cinvcode,
			cinvname,
			cinvstd,
			num,
			unit,
			dept,
			schid,
			scid,
			u8code
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{sccode},
			#{scline},
			#{cinvcode},
			#{cinvname},
			#{cinvstd},
			#{num},
			#{unit},
			#{dept.id},
			#{schid},
			#{scid},
			#{u8code}
		)
	</insert>
	
	<update id="update">
		UPDATE business_shengchan_beiliao SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			sccode = #{sccode},
			scline = #{scline},
			cinvcode = #{cinvcode},
			cinvname = #{cinvname},
			cinvstd = #{cinvstd},
			num = #{num},
			unit = #{unit},
			dept = #{dept.id},
			schid = #{schid},
			scid = #{scid},
			u8code = #{u8code}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM business_shengchan_beiliao
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE business_shengchan_beiliao SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="BusinessShengChanBeiLiao" statementType="STATEMENT">
		select * FROM business_shengchan_beiliao  where ${propertyName} = '${value}'
	</select>
	
</mapper>