<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.business.ruku.ommo.mapper.BusinessRukuOmmoMxMapper">
    
	<sql id="businessRukuOmmoMxColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.pid AS "p.id",
		a.no AS "no",
		a.cinvcode AS "cinvcode",
		a.cinvname AS "cinvname",
		a.cinvstd AS "cinvstd",
		a.batchno AS "batchno",
		a.scdate AS "scdate",
		a.rukunum AS "rukunum",
		a.unit AS "unit",
		a.hw AS "hw",
		a.wdid AS "wdid",
		a.wdhid AS "wdhid"
	</sql>
	
	<sql id="businessRukuOmmoMxJoins">
		
			LEFT JOIN business_ruku_ommo b ON b.id = a.pid
	</sql>
	
    
	<select id="get" resultType="BusinessRukuOmmoMx" >
		SELECT 
			<include refid="businessRukuOmmoMxColumns"/>
		FROM business_ruku_ommo_mx a
		<include refid="businessRukuOmmoMxJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="BusinessRukuOmmoMx" >
		SELECT 
			<include refid="businessRukuOmmoMxColumns"/>
		FROM business_ruku_ommo_mx a
		<include refid="businessRukuOmmoMxJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="p != null and p.id != null and p.id != ''">
				AND a.pid = #{p.id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="BusinessRukuOmmoMx" >
		SELECT 
			<include refid="businessRukuOmmoMxColumns"/>
		FROM business_ruku_ommo_mx a
		<include refid="businessRukuOmmoMxJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO business_ruku_ommo_mx(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			pid,
			no,
			cinvcode,
			cinvname,
			cinvstd,
			batchno,
			scdate,
			rukunum,
			unit,
			hw,
			wdid,
			wdhid
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{p.id},
			#{no},
			#{cinvcode},
			#{cinvname},
			#{cinvstd},
			#{batchno},
			#{scdate},
			#{rukunum},
			#{unit},
			#{hw},
			#{wdid},
			#{wdhid}
		)
	</insert>
	
	<update id="update">
		UPDATE business_ruku_ommo_mx SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			pid = #{p.id},
			no = #{no},
			cinvcode = #{cinvcode},
			cinvname = #{cinvname},
			cinvstd = #{cinvstd},
			batchno = #{batchno},
			scdate = #{scdate},
			rukunum = #{rukunum},
			unit = #{unit},
			hw = #{hw},
			wdid = #{wdid},
			wdhid = #{wdhid}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM business_ruku_ommo_mx
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE pid = #{p.id}
			</otherwise>
		</choose>
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE business_ruku_ommo_mx SET 
			del_flag = #{DEL_FLAG_DELETE}
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE pid = #{p.id}
			</otherwise>
		</choose>
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="BusinessRukuOmmoMx" statementType="STATEMENT">
		select * FROM business_ruku_ommo_mx  where ${propertyName} = '${value}'
	</select>
	
</mapper>