<%
layout("/include/_container.html", {title:"列表", parent:"月打卡汇总报表"}){
%>
<style type="text/css">
    th,td{
        white-space: nowrap;
    }
</style>
<div class="white-box m-b-5">
    <form id="searchForm" class="form-inline" >
        <div class="form-group m-b-10 m-r-10">
            <label class="m-r-10" title="年月：">公司：</label>
            <select name="tag" id="tag" class="form-control">
                <option value="">请选择</option>
                <option value="图维">图维</option>
                <option value="新图维">新图维</option>
                <option value="华基">华基</option>
            </select>
        </div>
        <div class="form-group m-b-10 m-r-10">
            <label class="m-r-10" title="部门：">部门：</label>
            <#treeselect id="office" name="office.id" value="" labelName="office.name" labelValue=""
            allowClear="true" title="部门" url="/sys/office/treeData?type=2" class="form-control required" notAllowSelectRoot="${false}"/>
        </div>
        <div class="form-group m-b-10 m-r-10">
            <label class="m-r-10" title="姓名：">姓名：</label>
            <input name="userid" id="userid"  maxlength="64"  class=" form-control"/>
        </div>
        <div class="form-group m-b-10 m-r-10">
        <label class="m-r-10" title="补卡次数：">补卡次数大于：</label>
        <input name="num" id="num"  type="number" maxlength="64"  class=" form-control"/>
    </div>
        <div class="form-group m-b-10 m-r-10">
            <label class="m-r-10" title="年月：">年月：</label>
            <div class="input-group">
                <input readonly id="ym"  name="ym" placeholder="请选择日期" class="form-control"/>
                <div class="input-group-append">
                    <span class="input-group-text btn-custom border text-white"><i class="ti-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group m-b-10 m-r-10">
            <a  id="search" class="btn  btn-custom waves-effect waves-light m-l-10 btn-md btn-rounded"><i class="fa fa-search"></i> 查询</a>
            <a  id="reset" class="btn  btn-custom waves-effect waves-light m-l-10 btn-md btn-rounded" ><i class="fa fa-refresh"></i> 重置</a>
        </div>
    </form>
</div>
<div class="white-box">
    <!-- 工具栏 -->
    <div id="toolbar">
    </div>
    <!-- 表格 -->
    <table id="viewTable" class="table-bordered"   data-toolbar="#toolbar"></table>
</div>

<% include("view.js"){} %>
<% } %>
