<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.qiyewx.sp.mapper.QiYeWxSpRecordMapper">
    
	<sql id="qiYeWxSpRecordColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.sp_id AS "sp.id",
		a.approver AS "approver.id",
		a.sptime AS "sptime",
		a.speech AS "speech",
		a.sp_status AS "spStatus",
		a.media_id AS "mediaid",
				
				
				
				
				
				
				
				
		approver.name AS "approver.name"
	</sql>
	
	<sql id="qiYeWxSpRecordJoins">
		
			LEFT JOIN qiyewx_sp b ON b.id = a.sp_id
		LEFT JOIN qiyewx_employee approver ON approver.id = a.approver
	</sql>
	
    
	<select id="get" resultType="QiYeWxSpRecord" >
		SELECT 
			<include refid="qiYeWxSpRecordColumns"/>
		FROM qiyewx_sp_record a
		<include refid="qiYeWxSpRecordJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="QiYeWxSpRecord" >
		SELECT 
			<include refid="qiYeWxSpRecordColumns"/>
		FROM qiyewx_sp_record a
		<include refid="qiYeWxSpRecordJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="sp != null and sp.id != null and sp.id != ''">
				AND a.sp_id = #{sp.id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="QiYeWxSpRecord" >
		SELECT 
			<include refid="qiYeWxSpRecordColumns"/>
		FROM qiyewx_sp_record a
		<include refid="qiYeWxSpRecordJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO qiyewx_sp_record(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			sp_id,
			approver,
			sptime,
			speech,
			sp_status,
			media_id
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{sp.id},
			#{approver.id},
			#{sptime},
			#{speech},
			#{spStatus},
			#{mediaid}
		)
	</insert>
	
	<update id="update">
		UPDATE qiyewx_sp_record SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			sp_id = #{sp.id},
			approver = #{approver.id},
			sptime = #{sptime},
			speech = #{speech},
			sp_status = #{spStatus},
			media_id = #{mediaid}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM qiyewx_sp_record
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE sp_id = #{sp.id}
			</otherwise>
		</choose>
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE qiyewx_sp_record SET 
			del_flag = #{DEL_FLAG_DELETE}
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE sp_id = #{sp.id}
			</otherwise>
		</choose>
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="QiYeWxSpRecord" statementType="STATEMENT">
		select * FROM qiyewx_sp_record  where ${propertyName} = '${value}'
	</select>
	
</mapper>