<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.qiyewx.sp.mapper.QiYeWxSpMapper">
    
	<sql id="qiYeWxSpColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.sp_no AS "spNo",
		a.sp_name AS "spName",
		a.userid AS "apply.id",
		a.sp_status AS "spStatus",
		a.apply_time AS "applyTime",
		a.template_id AS "templateId",
		a.ym AS "ym",
		a.record_type AS "recordType",
		apply.name AS "apply.name"
	</sql>
	
	<sql id="qiYeWxSpJoins">
		LEFT JOIN qiyewx_employee apply ON apply.id = a.userid
	</sql>
	<select id="findJiaBanTime" resultType="com.jeeplus.modules.qiyewx.sp.entity.JiaBanItem">
		select  userid as userid,jiaban_len as jiabanLen from qiyewx_sp where  !(starttime &gt; #{end} or endtime  &lt; #{start}) and record_type='5' and sp_status='2'
	</select>
    <select id="findAllByYmAndType" resultType="QiYeWxSp">
		select
			a.id AS "id",
			a.sp_no AS "spNo",
			a.sp_name AS "spName",
			a.sp_status AS "spStatus",
			a.apply_time AS "applyTime",
			a.userid AS "apply.id"
		FROM qiyewx_sp a
		where a.ym = #{ym} AND a.record_type = #{recordType}
	</select>
	<select id="get" resultType="QiYeWxSp" >
		SELECT 
			<include refid="qiYeWxSpColumns"/>
		FROM qiyewx_sp a
		<include refid="qiYeWxSpJoins"/>
		WHERE a.id = #{id}
	</select>
	<select id="findIdsByYm" resultType="String">
		select id from qiyewx_sp  where apply_time BETWEEN #{beginTime} AND #{endTime}
		<if test="record_type!=null and record_type!='' ">
			and record_type  = #{record_type}
		</if>
	</select>

	<select id="findPassJiaBanIdsByYmAndUserid" resultType="String">
		select id from qiyewx_sp  where ym = #{ym} and record_type  = '5' and  userid = #{userid} and sp_status =  '2'
	</select>

	<select id="findList" resultType="QiYeWxSp" >
		SELECT 
			<include refid="qiYeWxSpColumns"/>
		FROM qiyewx_sp a
		<include refid="qiYeWxSpJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="spNo != null and spNo != ''">
				AND a.sp_no LIKE concat('%',#{spNo},'%')
			</if>
			<if test="spName != null and spName != ''">
				AND a.sp_name LIKE  concat('%',#{spName},'%')
			</if>
			<if test="apply != null and apply.id != null and apply.id != ''">
				AND a.userid = #{apply.id}
			</if>
			<if test="recordType != null and recordType != ''">
				AND a.record_type = #{recordType}
			</if>
			<if test="spStatus != null and spStatus != ''">
				AND a.sp_status = #{spStatus}
			</if>
			<if test="spStatus != null and spStatus != ''">
				AND a.sp_status = #{spStatus}
			</if>
			<if test="beginApplyTime != null and endApplyTime != null ">
				AND a.apply_time BETWEEN #{beginApplyTime} AND #{endApplyTime}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="QiYeWxSp" >
		SELECT 
			<include refid="qiYeWxSpColumns"/>
		FROM qiyewx_sp a
		<include refid="qiYeWxSpJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO qiyewx_sp(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			ym,
			record_type,
			sp_no,
			sp_name,
			userid,
			sp_status,
			apply_time,
			starttime,
			endtime,
			type,
			time_len,
		    jiaban_len,
			template_id
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{ym},
			#{recordType},
			#{spNo},
			#{spName},
			#{apply.id},
			#{spStatus},
			#{applyTime},
			#{starttime},
			#{endtime},
			#{type},
			#{timeLen},
		    #{jiabanLen},
			#{templateId}
		)
	</insert>
	
	<update id="update">
		UPDATE qiyewx_sp SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			sp_no = #{spNo},
			sp_name = #{spName},
			userid = #{apply.id},
			sp_status = #{spStatus},
			apply_time = #{applyTime},
			template_id = #{templateId}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM qiyewx_sp
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE qiyewx_sp SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="QiYeWxSp" statementType="STATEMENT">
		select * FROM qiyewx_sp  where ${propertyName} = '${value}'
	</select>
	
</mapper>