<%
layout("/include/_container.html", {title:echarts.name, parent:"图表展示"}){
%>
<div class="white-box">

    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 100%;min-height: 600px;height: 100%">

    </div>
</div>

<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例4
    var myChart = echarts.init(document.getElementById('main'));
    window.onresize = myChart.resize;
    $("#main").bind('resize', function(e) {
        myChart.resize();
    });
    $(function () {
        jp.get("${ctx}/echarts/getOption/${echarts.id!}", function (option) {
            // 指定图表的配置项和数据
            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        })
    })


</script>
<% } %>