<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.business.chuku.lingliao.mapper.BusinessChuKuLingLiaoMxMapper">
    
	<sql id="businessChuKuLingLiaoMxColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.del_flag AS "delFlag",
		a.pid AS "p.id",
		a.sclinecode AS "sclinecode",
		a.cinvcode AS "cinvcode",
		a.cinvname AS "cinvname",
		a.gdnum AS "gdnum",
		a.cknum AS "cknum",
		a.huowei AS "huowei.id",
		a.xcnum AS "xcnum",
		a.remarks AS "remarks",
		a.schid AS "schid",
		a.sych AS "sych",
				
				
				
				
				
				
				
				
				
				
				
				
		huowei.name AS "huowei.name"
	</sql>
	
	<sql id="businessChuKuLingLiaoMxJoins">
		
			LEFT JOIN business_chuku_lingliao b ON b.id = a.pid
		LEFT JOIN base_huowei huowei ON huowei.id = a.huowei
	</sql>
	
    
	<select id="get" resultType="BusinessChuKuLingLiaoMx" >
		SELECT 
			<include refid="businessChuKuLingLiaoMxColumns"/>
		FROM business_chuku_lingliao_mx a
		<include refid="businessChuKuLingLiaoMxJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="BusinessChuKuLingLiaoMx" >
		SELECT 
			<include refid="businessChuKuLingLiaoMxColumns"/>
		FROM business_chuku_lingliao_mx a
		<include refid="businessChuKuLingLiaoMxJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="p != null and p.id != null and p.id != ''">
				AND a.pid = #{p.id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="BusinessChuKuLingLiaoMx" >
		SELECT 
			<include refid="businessChuKuLingLiaoMxColumns"/>
		FROM business_chuku_lingliao_mx a
		<include refid="businessChuKuLingLiaoMxJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO business_chuku_lingliao_mx(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			del_flag,
			pid,
			sclinecode,
			cinvcode,
			cinvname,
			gdnum,
			cknum,
			huowei,
			xcnum,
			remarks,
			schid,
			sych
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{delFlag},
			#{p.id},
			#{sclinecode},
			#{cinvcode},
			#{cinvname},
			#{gdnum},
			#{cknum},
			#{huowei.id},
			#{xcnum},
			#{remarks},
			#{schid},
			#{sych}
		)
	</insert>
	
	<update id="update">
		UPDATE business_chuku_lingliao_mx SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			pid = #{p.id},
			sclinecode = #{sclinecode},
			cinvcode = #{cinvcode},
			cinvname = #{cinvname},
			gdnum = #{gdnum},
			cknum = #{cknum},
			huowei = #{huowei.id},
			xcnum = #{xcnum},
			remarks = #{remarks},
			schid = #{schid},
			sych = #{sych}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM business_chuku_lingliao_mx
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE pid = #{p.id}
			</otherwise>
		</choose>
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE business_chuku_lingliao_mx SET 
			del_flag = #{DEL_FLAG_DELETE}
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE pid = #{p.id}
			</otherwise>
		</choose>
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="BusinessChuKuLingLiaoMx" statementType="STATEMENT">
		select * FROM business_chuku_lingliao_mx  where ${propertyName} = '${value}'
	</select>
	
</mapper>