<%
layout("/include/_container.html", {title:"数据资源列表", parent:"数据资源"}){
%>

<div class="white-box">
    <!-- 文件上传 -->
    <div id="import-collapse" class="collapse">
        <div class="pull-right">
            <button class="btn btn-danger btn-xs" onclick="$('#import-collapse').fadeToggle()">
                <i class="fa fa-times"></i>
            </button>
        </div>
        <form id="importForm" method="POST" enctype="multipart/form-data" class="row form-horizontal" >
            <div class="col-xs-12 col-sm-6">
                <input name="file" type="file"  class="required form-control" />
                <span class="text-muted"><small>只允许导入“xls”或“xlsx”格式文件！</small></span>
            </div>
            <div class="col-xs-12 col-sm-6">
                <a  id="btnImportExcel"  class="btn btn-custom waves-effect waves-light btn-rounded m-l-10 btn-md"><i class="fa fa-upload"></i> 开始上传</a>
                <a  id="btnDownloadTpl" class="btn btn-custom waves-effect waves-light btn-rounded m-l-10 btn-md"><i class="fa fa-download"></i> 下载模板</a>
            </div>　
        </form>
    </div>
    <!-- 搜索 -->
    <div id="search-collapse" class="collapse">
        <div class="pull-right">
            <button class="btn btn-danger btn-xs" onclick="$('#search-collapse').fadeToggle()"><i class="fa fa-times"></i>
            </button>
        </div>
        <form id="searchForm" class="form form-horizontal well clearfix">
            <div class="form-group m-b-10 m-r-10">
                <label class="m-r-10" title="字段名：">字段名：</label>
                <input name="name" maxlength="50" class=" form-control"/>
            </div>
            <div class="form-group m-b-10 m-r-10">
                <a  id="search" class="btn btn-custom waves-effect waves-light m-l-10 btn-md btn-rounded"><i class="fa fa-search"></i> 查询</a>
                <a  id="reset" class="btn btn-custom waves-effect waves-light m-l-10 btn-md btn-rounded" ><i class="fa fa-refresh"></i> 重置</a>
            </div>
        </form>
    </div>

    <!-- 工具栏 -->
    <div id="toolbar">
        <% if(shiro.hasPermission("database:datamodel:dataMeta:add") ){ %>
        <button id="add" class="btn btn-primary" onclick="add()">
            <i class="fa fa-plus"></i> 新建
        </button>
        <% } %>
        <% if(shiro.hasPermission("database:datamodel:dataMeta:edit") ){ %>
        <button id="edit" class="btn btn-success" disabled onclick="edit()">
            <i class="fa fa-edit"></i> 修改
        </button>
        <% } %>
        <% if(shiro.hasPermission("database:datamodel:dataMeta:del") ){ %>
        <button id="remove" class="btn btn-danger" disabled onclick="del()">
            <i class="fa fa-remove"></i> 删除
        </button>
        <% } %>
        <% if(shiro.hasPermission("database:datamodel:dataMeta:import") ){ %>
        <button id="import" class="btn btn-info">
            <i class="fa fa-upload"></i> 导入
        </button>
        <% } %>
        <% if(shiro.hasPermission("database:datamodel:dataMeta:export") ){ %>
        <button id="export" class="btn btn-warning">
            <i class="fa fa-download"></i> 导出
        </button>
        <% } %>
    </div>

    <!-- 表格 -->
    <table id="dataMetaTable" data-toolbar="#toolbar"></table>
</div>

<% include("dataMetaList.js"){} %>
<% } %>