<!DOCTYPE html>
<% include("_common_header.html"){} %>
<body>
<div class="p-15">
<% if(fn.getCookie(request,'content-tab') == '2'){ %>

    <div class="row" style="margin-bottom: -35px">
        <div class="col-sm-12">
            <div class="btn-group float-right m-b-20">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a href="javascript:;">${parent}</a></li>
                    <li class="breadcrumb-item"><a href="javascript:;">${title}</a></li>
                </ol>
            </div>
            <h4 class="page-title">${title}</h4>

        </div>
    </div>
<% } %>

    ${layoutContent}
</div>
</body>
</html>
