<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.business.ommoarrivalvouch.mapper.BusinessOmmoArrivalvouchMxMapper">
    
	<sql id="businessOmmoArrivalvouchMxColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.pid AS "p.id",
		b.code as "p.code",
		a.no AS "no",
		a.cinvcode AS "cinvcode",
		a.cinvname AS "cinvname",
		a.cinvstd AS "cinvstd",
		a.batchno AS "batchno",
		a.scdate AS "scdate",
		a.num AS "num",
		a.unit AS "unit",
		a.minnum AS "minnum",
		a.ckcode AS "ckcode",
		a.ckname AS "ckname",
		a.hw AS "hw",
		a.printstatus as "printstatus",
		a.csocode AS "csocode",
		a.irowno AS "irowno"
	</sql>
	
	<sql id="businessOmmoArrivalvouchMxJoins">
			LEFT JOIN business_ommo_arrivalvouch b ON b.id = a.pid
	</sql>

	<select id="getMxByPidAndCinvcode" resultType="BusinessOmmoArrivalvouchMx">
		select  a.id AS "id", a.cinvcode AS "cinvcode",
				a.cinvname AS "cinvname",
				a.cinvstd AS "cinvstd",
				a.batchno AS "batchno",
				a.scdate AS "scdate",
				a.num AS "num",
				a.unit AS "unit",
				a.minnum AS "minnum",
				a.hw AS "hw" FROM business_ommo_arrivalvouch_mx a
				where a.pid = #{pid} and a.cinvcode = #{cinvcode}
				<if test="batchno !=null and batchno !='' ">
					and a.batchno = #{batchno}
				</if>
				<if test="scdate != null and scdate != ''">
					AND a.scdate = #{scdate}
				</if>
	</select>

    <select id="findMxList" resultType="BusinessOmmoArrivalvouchMx">
		SELECT
		<include refid="businessOmmoArrivalvouchMxColumns"/>,
		b.ddate AS "p.ddate",
		dept.name AS "dept.name",
		vendor.name AS "vendor.name"
		FROM business_ommo_arrivalvouch_mx a
		<include refid="businessOmmoArrivalvouchMxJoins"/>
		LEFT JOIN sys_office dept ON dept.id = b.dept
		LEFT JOIN base_vendor vendor ON vendor.id = b.vendor
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="p != null and p.id != null and p.id != ''">
				AND a.pid = #{p.id}
			</if>
			<if test="beginDdate != null and beginDdate != '' and endDdate != null and endDdate != ''">
				AND b.ddate BETWEEN #{beginDdate} AND #{endDdate}
			</if>
			<if test="p != null and p.code != null and p.code != ''">
				AND b.code = like concat('%',#{p.code},'%')
			</if>
			<if test="hw != null and hw != ''">
				AND a.hw = #{hw}
			</if>
			<if test="cinvcode != null and cinvcode != ''">
				AND a.cinvcode like concat('%',#{cinvcode},'%')
			</if>
			<if test="cinvname != null  and cinvname != ''">
				AND a.cinvname like concat('%',#{cinvname},'%')
			</if>
			<if test="cinvstd != null  and cinvstd != ''">
				AND a.cinvstd like concat('%',#{cinvstd},'%')
			</if>
			<if test="batchno != null and batchno != ''">
				AND a.batchno like  concat('%',#{batchno},'%')
			</if>
			<if test="dept != null and dept.id != null and dept.id != ''">
				AND b.dept = #{dept.id}
			</if>
			<if test="vendor != null and vendor.id != null and vendor.id != ''">
				AND b.vendor = #{vendor.id}
			</if>
			<if test="scdate != null and scdate != ''">
				AND a.scdate = #{scdate}
			</if>
			<if test="printstatus != null and printstatus != ''">
				AND a.print_status = #{printstatus}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY b.code asc, a.no ASC
			</otherwise>
		</choose>
	</select>

	<select id="get" resultType="BusinessOmmoArrivalvouchMx" >
		SELECT 
			<include refid="businessOmmoArrivalvouchMxColumns"/>
		FROM business_ommo_arrivalvouch_mx a
		<include refid="businessOmmoArrivalvouchMxJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="BusinessOmmoArrivalvouchMx" >
		SELECT 
			<include refid="businessOmmoArrivalvouchMxColumns"/>
		FROM business_ommo_arrivalvouch_mx a
		<include refid="businessOmmoArrivalvouchMxJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="p != null and p.id != null and p.id != ''">
				AND a.pid = #{p.id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.no ASC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="BusinessOmmoArrivalvouchMx" >
		SELECT 
			<include refid="businessOmmoArrivalvouchMxColumns"/>
		FROM business_ommo_arrivalvouch_mx a
		<include refid="businessOmmoArrivalvouchMxJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>

	<insert id="batchInsert" parameterType="java.util.List">
		INSERT INTO business_ommo_arrivalvouch_mx(
			id,printstatus,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			pid,
			no,
			cinvcode,
			cinvname,
			cinvstd,
			batchno,
			scdate,
			num,
			unit,
			minnum,
			ckcode,
			ckname,
			hw,
			csocode,
			irowno
		) VALUES
		<foreach collection="list" separator="," item="item">
			(
			#{item.id},'未打印',
			#{item.createBy.id},
			#{item.createDate},
			#{item.updateBy.id},
			#{item.updateDate},
			#{item.remarks},
			#{item.delFlag},
			#{item.p.id},
			#{item.no},
			#{item.cinvcode},
			#{item.cinvname},
			#{item.cinvstd},
			#{item.batchno},
			#{item.scdate},
			#{item.num},
			#{item.unit},
			#{item.minnum},
			#{item.ckcode},
			#{item.ckname},
			#{item.hw},
			#{item.csocode},
			#{item.irowno}
			)
		</foreach>
		on duplicate key update
		id = values(id),
		update_date= VALUES(update_date),
		no=VALUES(no),
		hw=VALUES(hw),
		pid=VALUES(pid),
		cinvcode=VALUES(cinvcode),
		cinvname=VALUES(cinvname),
		cinvstd=VALUES(cinvstd),
		batchno=VALUES(batchno),
		scdate=VALUES(scdate),
		num=VALUES(num),
		unit=VALUES(unit),
		ckcode=VALUES(ckcode),
		ckname=VALUES(ckname),
		ckname=VALUES(ckname),
		irowno=VALUES(irowno)
	</insert>


	<insert id="insert">
		INSERT INTO business_ommo_arrivalvouch_mx(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			pid,
			no,
			cinvcode,
			cinvname,
			cinvstd,
			batchno,
			scdate,
			num,
			unit,
			minnum,
			ckcode,
			ckname,
			hw,
			csocode,
			irowno
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{p.id},
			#{no},
			#{cinvcode},
			#{cinvname},
			#{cinvstd},
			#{batchno},
			#{scdate},
			#{num},
			#{unit},
			#{minnum},
			#{ckcode},
			#{ckname},
			#{hw},
			#{csocode},
			#{irowno}
		)
	</insert>
	
	<update id="update">
		UPDATE business_ommo_arrivalvouch_mx SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			pid = #{p.id},
			no = #{no},
			cinvcode = #{cinvcode},
			cinvname = #{cinvname},
			cinvstd = #{cinvstd},
			batchno = #{batchno},
			scdate = #{scdate},
			num = #{num},
			unit = #{unit},
			minnum = #{minnum},
			ckcode = #{ckcode},
			ckname = #{ckname},
			hw = #{hw},
			csocode = #{csocode},
			irowno = #{irowno}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM business_ommo_arrivalvouch_mx
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE pid = #{p.id}
			</otherwise>
		</choose>
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE business_ommo_arrivalvouch_mx SET 
			del_flag = #{DEL_FLAG_DELETE}
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE pid = #{p.id}
			</otherwise>
		</choose>
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="BusinessOmmoArrivalvouchMx" statementType="STATEMENT">
		select * FROM business_ommo_arrivalvouch_mx  where ${propertyName} = '${value}'
	</select>
	
</mapper>