<%
layout("/include/_dialog.html"){
%>
	<script type="text/javascript">

		$(document).ready(function() {
					});

		function save() {
            var isValidate = jp.validateForm('#inputForm');//校验表单
            if(!isValidate){
                return false;
			}else{
                var index = jp.loading();
                jp.post("${ctx}/view/dakachidao/viewDakaChidao/save",$('#inputForm').serialize(),function(data){
                    if(data.success){
                        jp.getParent().refresh();
                        var dialogIndex = parent.layer.getFrameIndex(window.name); // 获取窗口索引
                        parent.layer.close(dialogIndex);
                        jp.toastr_success(data.msg)

                    }else{
                        jp.toastr_error(data.msg);
                    }
                    jp.close(index);
                })
			}

        }
	</script>
<form id="inputForm"  method="post"  class="form-horizontal p-15">
    <input type="hidden" name="id" value="${viewDakaChidao.id!}"/>
    <table class="table table-bordered">
       <tbody>
            <tr>
                <td class="width-15 active"><label class="pull-right">统计年月：</label></td>
                <td class="width-35">
                    <input name="ym" value="${viewDakaChidao.ym!}"    class="form-control "/>
            </td>
                <td class="width-15 active"><label class="pull-right">姓名：</label></td>
                <td class="width-35">
                    <input name="userid" value="${viewDakaChidao.userid!}"    class="form-control "/>
            </td>
            </tr>
            <tr>
                <td class="width-15 active"><label class="pull-right">超半小时打卡迟到次数：</label></td>
                <td class="width-35">
                    <input name="chidaonum" value="${viewDakaChidao.chidaonum!}"    class="form-control "/>
            </td>
                <td class="width-15 active"><label class="pull-right">缺勤次数：</label></td>
                <td class="width-35">
                    <input name="queqinnum" value="${viewDakaChidao.queqinnum!}"    class="form-control "/>
            </td>
            </tr>
        </tbody>
    </table>
</form>
<% } %>