<%
layout("/include/_container.html", {title:"明细列表", parent:"现存量"}){
%>
<!-- 搜索框-->
<div id="search-collapse" class="white-box collapse m-b-5">
    <a class="jp-ti-close close" onclick="$('#search-collapse').fadeToggle()">
        <i class="fa fa-times"></i>
    </a>
    <form id="searchForm" class="form-inline">
        <div class="form-group m-b-10 m-r-10">
        <label class="m-r-10" title="生产单号：">存货编码：</label>
        <input name="cinvcode"  maxlength="64"  class=" form-control"/>
        </div>
        <div class="form-group m-b-10 m-r-10">
            <a  id="search" class="btn  btn-custom waves-effect waves-light m-l-10 btn-md btn-rounded"><i class="fa fa-search"></i> 查询</a>
            <a  id="reset" class="btn  btn-custom waves-effect waves-light m-l-10 btn-md btn-rounded" ><i class="fa fa-refresh"></i> 重置</a>
        </div>
    </form>
</div>
<div class="white-box">
    <!-- 工具栏 -->
    <div id="toolbar">
    </div>
    <!-- 表格 -->
    <table id="table" class="table-bordered"   data-toolbar="#toolbar"></table>
</div>
</div>
<% include("list.js"){} %>
<% } %>