<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.base.huowei.mapper.BaseHuoWeiMapper">
    
	<sql id="baseHuoWeiColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.code AS "code",
		a.name AS "name",
		a.cangku AS "ck.id",
		a.max_v AS "maxv",
		a.max_w AS "maxw",
		ck.name AS "ck.name"
	</sql>
	
	<sql id="baseHuoWeiJoins">
		
		LEFT JOIN base_cangku ck ON ck.id = a.cangku
	</sql>
	<select id="findHwItem" resultType="com.jeeplus.modules.api.bean.ckandhw.HwBean">
		select a.id as "value",a.name as "text",a.cangku as "ckid" from base_huowei a
		<where>
			<if test="ckid!=null and ckid!=''">
				and a.cangku  = #{ckid}
			</if>
		</where>
	</select>
    
	<select id="get" resultType="BaseHuoWei" >
		SELECT 
			<include refid="baseHuoWeiColumns"/>
		FROM base_huowei a
		<include refid="baseHuoWeiJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="BaseHuoWei" >
		SELECT 
			<include refid="baseHuoWeiColumns"/>
		FROM base_huowei a
		<include refid="baseHuoWeiJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="code != null and code != ''">
				AND a.code = #{code}
			</if>
			<if test="name != null and name != ''">
				AND a.name LIKE
				    <if test="_databaseId == 'postgre'">'%'||#{name}||'%'</if>
					<if test="_databaseId == 'oracle'">'%'||#{name}||'%'</if>
					<if test="_databaseId == 'mssql'">'%'+#{name}+'%'</if>
					<if test="_databaseId == 'mysql'">concat('%',#{name},'%')</if>
			</if>
			<if test="ck != null and ck.id != null and ck.id != ''">
				AND a.cangku = #{ck.id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="BaseHuoWei" >
		SELECT 
			<include refid="baseHuoWeiColumns"/>
		FROM base_huowei a
		<include refid="baseHuoWeiJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO base_huowei(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			code,
			name,
			cangku,
			max_v,
			max_w
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{code},
			#{name},
			#{ck.id},
			#{maxv},
			#{maxw}
		)
	</insert>
	
	<update id="update">
		UPDATE base_huowei SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			code = #{code},
			name = #{name},
			cangku = #{ck.id},
			max_v = #{maxv},
			max_w = #{maxw}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM base_huowei
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE base_huowei SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="BaseHuoWei" statementType="STATEMENT">
		select * FROM base_huowei  where ${propertyName} = '${value}'
	</select>
	
</mapper>