<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.base.site.hegelv.mapper.BaseSiteHegelvMapper">
    
	<sql id="baseSiteHegelvColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.siteid AS "siteid",
		a.sitecode AS "sitecode",
		a.sitename AS "sitename",
		a.workshop AS "workshop",
		a.hegelv AS "hegelv",
		a.minhegelv AS "minhegelv"
	</sql>
	
	<sql id="baseSiteHegelvJoins">
		
	</sql>
	
    
	<select id="get" resultType="BaseSiteHegelv" >
		SELECT 
			<include refid="baseSiteHegelvColumns"/>
		FROM base_site_hegelv a
		<include refid="baseSiteHegelvJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="BaseSiteHegelv" >
		SELECT 
			<include refid="baseSiteHegelvColumns"/>
		FROM base_site_hegelv a
		<include refid="baseSiteHegelvJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="sitecode != null and sitecode != ''">
				AND a.sitecode LIKE concat('%',#{sitecode},'%')
			</if>
			<if test="sitename != null and sitename != ''">
				AND a.sitename LIKE concat('%',#{sitename},'%')
			</if>
			<if test="workshop != null and workshop != ''">
				AND a.workshop LIKE concat('%',#{workshop},'%')
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="BaseSiteHegelv" >
		SELECT 
			<include refid="baseSiteHegelvColumns"/>
		FROM base_site_hegelv a
		<include refid="baseSiteHegelvJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO base_site_hegelv(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			siteid,
			sitecode,
			sitename,
			workshop,
			hegelv,
			minhegelv
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
		    #{siteid},
			#{sitecode},
			#{sitename},
			#{workshop},
			#{hegelv},
		    #{minhegelv}
		)
	</insert>
	
	<update id="update">
		UPDATE base_site_hegelv SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
		    siteid = #{siteid},
			sitecode = #{sitecode},
			sitename = #{sitename},
			workshop = #{workshop},
			hegelv = #{hegelv},
			minhegelv = #{minhegelv}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM base_site_hegelv
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE base_site_hegelv SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="BaseSiteHegelv" statementType="STATEMENT">
		select * FROM base_site_hegelv  where ${propertyName} = '${value}'
	</select>
	
</mapper>