<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.base.cangku.mapper.BaseCangKuMapper">
    
	<sql id="baseCangKuColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.code AS "code",
		a.name AS "name",
		a.dept AS "dept.id",
		a.factory AS "factory.id",
		a.tel AS "tel",
		a.master AS "master",
		a.address AS "address",
		a.type AS "type",
		a.indate AS "indate",
		a.usehw as "usehw",
		dept.name AS "dept.name",
		factory.name AS "factory.name"
	</sql>
	
	<sql id="baseCangKuJoins">
		LEFT JOIN sys_office dept ON dept.id = a.dept
		LEFT JOIN base_factory factory ON factory.id = a.factory
	</sql>
	<select id="findAllCk" resultType="BaseCangKu">
		select a.id as "id",a.code AS "code",a.name AS "name",factory.name AS "factory.name" from base_cangku a
		LEFT JOIN base_factory factory ON factory.id = a.factory
		where a.indate &gt; now()
		order by factory.code
	</select>
	<select id="get" resultType="BaseCangKu" >
		SELECT 
			<include refid="baseCangKuColumns"/>
		FROM base_cangku a
		<include refid="baseCangKuJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="BaseCangKu" >
		SELECT 
			<include refid="baseCangKuColumns"/>
		FROM base_cangku a
		<include refid="baseCangKuJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="code != null and code != ''">
				AND a.code = #{code}
			</if>
			<if test="name != null and name != ''">
				AND a.name LIKE
				    <if test="_databaseId == 'postgre'">'%'||#{name}||'%'</if>
					<if test="_databaseId == 'oracle'">'%'||#{name}||'%'</if>
					<if test="_databaseId == 'mssql'">'%'+#{name}+'%'</if>
					<if test="_databaseId == 'mysql'">concat('%',#{name},'%')</if>
			</if>
			<if test="dept != null and dept.id != null and dept.id != ''">
				AND a.dept = #{dept.id}
			</if>
			<if test="factory != null and factory.id != null and factory.id != ''">
				AND a.factory = #{factory.id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="BaseCangKu" >
		SELECT 
			<include refid="baseCangKuColumns"/>
		FROM base_cangku a
		<include refid="baseCangKuJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO base_cangku(
			id,usehw,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			code,
			name,
			dept,
			factory,
			tel,
			master,
			address,
			type,
			indate
		) VALUES (
			#{code},#{usehw},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{code},
			#{name},
			#{dept.id},
			#{factory.id},
			#{tel},
			#{master},
			#{address},
			#{type},
			#{indate}
		)
	</insert>
	
	<update id="update">
		UPDATE base_cangku SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			code = #{code},
			usehw = #{usehw},
			name = #{name},
			dept = #{dept.id},
			factory = #{factory.id},
			tel = #{tel},
			master = #{master},
			address = #{address},
			type = #{type},
			indate = #{indate}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM base_cangku
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE base_cangku SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="BaseCangKu" statementType="STATEMENT">
		select * FROM base_cangku  where ${propertyName} = '${value}'
	</select>
	
</mapper>