<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.business.shengchan.dingdan.mapper.BusinessShengChanDingDanMingXiMapper">
    
	<sql id="businessShengChanDingDanMingXiColumns">
		a.id AS "id",
        a.socode as "socode",
        a.soseq as "soseq",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.id AS "p.id",
		a.dept AS "dept.id",
		a.status as "status",
		a.type as "type",
		a.no AS "no",
		a.cinv_code AS "cinv.code",
		a.cinv_name AS "cinvname",
		a.std AS "std",
		a.unit AS "unit",
		a.num AS "num",
		a.donenum as "donenum",
		a.start_date AS "startdate",
		a.end_date AS "enddate",
		a.batchno as "batchno",
		a.ischaidan as "ischaidan",
		p.code as "p.code",
		dept.name AS "dept.name"
	</sql>
	
	<sql id="businessShengChanDingDanMingXiJoins">
		left join business_shengchan_dingdan p on p.id = a.pid
		LEFT JOIN sys_office dept ON dept.id = a.dept
	</sql>

	<select id="getInfo" resultType="BusinessShengChanDingDanMingXi">
		select
			p.code as "p.code",
			a.no AS "no"
		FROM business_shengchan_dingdan_mingxi a
		left join business_shengchan_dingdan p on p.id = a.pid
		where a.id = #{id}
	</select>

	<select id="findShengChanDingDanMingXi" resultType="BusinessShengChanDingDanMingXi">
		select a.id as "id",a.batchno as "batchno",a.no AS "no",a.cinv_code AS "cinv.code",a.cinv_name AS "cinvname",a.std AS "std",
		       a.unit AS "unit",a.num AS "num",a.donenum as "donenum",a.start_date AS "startdate",a.ischaidan as "ischaidan",
			   a.end_date AS "enddate",p.code as "p.code",a.dept AS "dept.id",dept.name AS "dept.name",a.status as "status"
		FROM business_shengchan_dingdan_mingxi a
		left join business_shengchan_dingdan p on p.id = a.pid
		LEFT JOIN sys_office dept ON dept.id = a.dept
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="p != null and p.code != null and p.code != ''">
				AND p.code = #{p.code}
			</if>
			<if test="dept != null and dept.id != null and dept.id != ''">
				AND a.dept = #{dept.id}
			</if>
			<if test="cinvcode != null  and cinvcode != ''">
				AND a.cinv_code = #{cinvcode}
			</if>
			<if test="cinvname != null  and cinvname != ''">
				AND a.cinv_name like concat('%',#{cinvname},'%')
			</if>
			<if test="std != null  and std != ''">
				AND a.std like concat('%',#{std},'%')
			</if>
			<if test="enddate!=null and enddate !=''">
				and a.end_date = #{enddate}
			</if>
			<if test="startdate!=null and startdate !='' ">
				and a.start_date = #{startdate}
			</if>
			<if test="ischaidan!=null and ischaidan !=''">
				and a.ischaidan = #{ischaidan}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY p.code asc,a.no ASC
			</otherwise>
		</choose>
	</select>
    
	<select id="get" resultType="BusinessShengChanDingDanMingXi" >
		SELECT 
			<include refid="businessShengChanDingDanMingXiColumns"/>
		FROM business_shengchan_dingdan_mingxi a
		<include refid="businessShengChanDingDanMingXiJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="BusinessShengChanDingDanMingXi" >
		SELECT 
			<include refid="businessShengChanDingDanMingXiColumns"/>
		FROM business_shengchan_dingdan_mingxi a
		<include refid="businessShengChanDingDanMingXiJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="p != null and p.id != null and p.id != ''">
				AND a.pid = #{p.id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.no ASC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="BusinessShengChanDingDanMingXi" >
		SELECT 
			<include refid="businessShengChanDingDanMingXiColumns"/>
		FROM business_shengchan_dingdan_mingxi a
		<include refid="businessShengChanDingDanMingXiJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO business_shengchan_dingdan_mingxi(
			id,ischaidan,
			socode,
			soseq,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			pid,
			no,
			cinv_code,
			cinv_name,
			std,
			unit,
			num,donenum,batchno,
			start_date,
			end_date,dept,type,status
		) VALUES (
			#{id},'未拆单',
			#{socode},
			#{soseq},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{p.id},
			#{no},
			#{cinv.code},
			#{cinvname},
			#{std},
			#{unit},
			#{num},0,#{batchno},
			#{startdate},
			#{enddate},
		    #{dept.id},#{type},#{status}
		)
		on duplicate key update
		 id = values(id),
		 update_date= VALUES(update_date),
			cinv_code = values(cinv_code),
			cinv_name = values(cinv_name),
		 no=VALUES(no),
			batchno=VALUES(batchno),
			start_date=VALUES(start_date),
			end_date=VALUES(end_date),
			std=VALUES(std),
		 num=VALUES(num),
		 unit=VALUES(unit),
			dept = values(dept)
	</insert>
	
	<update id="update">
		UPDATE business_shengchan_dingdan_mingxi SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			pid = #{p.id},
			no = #{no},
			cinv_code = #{cinv.code},
			cinv_name = #{cinvname},
			std = #{std},
			unit = #{unit},
			num = #{num},
		    batchno = #{batchno},
		    type = #{type},
		    dept = #{dept.id},
		    status = #{status},
			start_date = #{startdate},
			end_date = #{enddate}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM business_shengchan_dingdan_mingxi
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE pid = #{p.id}
			</otherwise>
		</choose>
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE business_shengchan_dingdan_mingxi SET 
			del_flag = #{DEL_FLAG_DELETE}
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE pid = #{p.id}
			</otherwise>
		</choose>
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="BusinessShengChanDingDanMingXi" statementType="STATEMENT">
		select * FROM business_shengchan_dingdan_mingxi  where ${propertyName} = '${value}'
	</select>
	
</mapper>