<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.business.shengchan.dingdan.mapper.BusinessShengChanDingDanMapper">
    
	<sql id="businessShengChanDingDanColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.status as "status",
		a.code AS "code",
		a.dept AS "dept.id",
		a.startdate as "startdate",
		a.enddate as "enddate",
		dept.name AS "dept.name"
	</sql>
	
	<sql id="businessShengChanDingDanJoins">
		LEFT JOIN sys_office dept ON dept.id = a.dept
	</sql>
	
    
	<select id="get" resultType="BusinessShengChanDingDan" >
		SELECT 
			<include refid="businessShengChanDingDanColumns"/>
		FROM business_shengchan_dingdan a
		<include refid="businessShengChanDingDanJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="BusinessShengChanDingDan" >
		SELECT 
			<include refid="businessShengChanDingDanColumns"/>
		FROM business_shengchan_dingdan a
		<include refid="businessShengChanDingDanJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="code != null and code != ''">
				AND a.code like concat('%',#{code},'%')
			</if>
			<if test="status != null and status != ''">
				AND a.status = #{status}
			</if>
			<if test="dept != null and dept.id != null and dept.id != ''">
				AND a.dept = #{dept.id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="BusinessShengChanDingDan" >
		SELECT 
			<include refid="businessShengChanDingDanColumns"/>
		FROM business_shengchan_dingdan a
		<include refid="businessShengChanDingDanJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO business_shengchan_dingdan(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,status,
			code,startdate,enddate,
			dept
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},'未审核',
			#{code},#{startdate},#{enddate},
			#{dept.id}
		)
		on duplicate key update
		 id = values(id),
		update_date= VALUES(update_date),
		startdate = values(startdate),
		enddate = values(enddate),
		dept=VALUES(dept)
	</insert>
	
	<update id="update">
		UPDATE business_shengchan_dingdan SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			code = #{code},
			startdate = #{startdate},
		    enddate = #{enddate},
			dept = #{dept.id}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM business_shengchan_dingdan
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE business_shengchan_dingdan SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="BusinessShengChanDingDan" statementType="STATEMENT">
		select * FROM business_shengchan_dingdan  where ${propertyName} = '${value}'
	</select>
	
</mapper>