<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.qiyewx.daka.month.mapper.QiYeWxDaKaMonthSpItemMapper">
    
	<sql id="qiYeWxDaKaMonthSpItemColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.month_id AS "month.id",
		a.type AS "type",
		a.count AS "count",
		a.duration AS "duration",
		a.time_type AS "timeType",
		a.name AS "name"
	</sql>
	
	<sql id="qiYeWxDaKaMonthSpItemJoins">
		
			LEFT JOIN qiyewx_daka_month b ON b.id = a.month_id
	</sql>

	<select id="findJiaQinDays" resultType="QiYeWxDaKaMonthSpItem">
		SELECT
		a.type AS "type",
		a.count AS "count",
		a.duration AS "duration",
		a.time_type AS "timeType",
		a.name AS "name"
		FROM qiyewx_daka_month_sp_item a
		WHERE a.month_id = #{mid}
	</select>
    
	<select id="get" resultType="QiYeWxDaKaMonthSpItem" >
		SELECT 
			<include refid="qiYeWxDaKaMonthSpItemColumns"/>
		FROM qiyewx_daka_month_sp_item a
		<include refid="qiYeWxDaKaMonthSpItemJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="QiYeWxDaKaMonthSpItem" >
		SELECT 
			<include refid="qiYeWxDaKaMonthSpItemColumns"/>
		FROM qiyewx_daka_month_sp_item a
		<include refid="qiYeWxDaKaMonthSpItemJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="month != null and month.id != null and month.id != ''">
				AND a.month_id = #{month.id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="QiYeWxDaKaMonthSpItem" >
		SELECT 
			<include refid="qiYeWxDaKaMonthSpItemColumns"/>
		FROM qiyewx_daka_month_sp_item a
		<include refid="qiYeWxDaKaMonthSpItemJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO qiyewx_daka_month_sp_item(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			month_id,
			type,
			count,
			duration,
			time_type,
			name
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{month.id},
			#{type},
			#{count},
			#{duration},
			#{timeType},
			#{name}
		)
	</insert>
	
	<update id="update">
		UPDATE qiyewx_daka_month_sp_item SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			month_id = #{month.id},
			type = #{type},
			count = #{count},
			duration = #{duration},
			time_type = #{timeType},
			name = #{name}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM qiyewx_daka_month_sp_item
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE month_id = #{month.id}
			</otherwise>
		</choose>
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE qiyewx_daka_month_sp_item SET 
			del_flag = #{DEL_FLAG_DELETE}
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE month_id = #{month.id}
			</otherwise>
		</choose>
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="QiYeWxDaKaMonthSpItem" statementType="STATEMENT">
		select * FROM qiyewx_daka_month_sp_item  where ${propertyName} = '${value}'
	</select>
	
</mapper>