<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.qiyewx.daka.month.mapper.QiYeWxDaKaMonthMapper">
    
	<sql id="qiYeWxDaKaMonthColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.ym as "ym",
		a.record_type AS "recordType",
		a.name AS "name",
		a.acctid AS "acctid",
		a.departs_name AS "departsName"
	</sql>
	
	<sql id="qiYeWxDaKaMonthJoins">
		
	</sql>
	
    
	<select id="get" resultType="QiYeWxDaKaMonth" >
		SELECT 
			<include refid="qiYeWxDaKaMonthColumns"/>
		FROM qiyewx_daka_month a
		<include refid="qiYeWxDaKaMonthJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="QiYeWxDaKaMonth" >
		SELECT 
			<include refid="qiYeWxDaKaMonthColumns"/>
		FROM qiyewx_daka_month a
		<include refid="qiYeWxDaKaMonthJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="recordType != null and recordType != ''">
				AND a.record_type = #{recordType}
			</if>
			<if test="name != null and name != ''">
				AND a.name LIKE
				    <if test="_databaseId == 'postgre'">'%'||#{name}||'%'</if>
					<if test="_databaseId == 'oracle'">'%'||#{name}||'%'</if>
					<if test="_databaseId == 'mssql'">'%'+#{name}+'%'</if>
					<if test="_databaseId == 'mysql'">concat('%',#{name},'%')</if>
			</if>
			<if test="acctid != null and acctid != ''">
				AND a.acctid = #{acctid}
			</if>
			<if test="ym != null and ym != ''">
				AND a.ym = #{ym}
			</if>
			<if test="departsName != null and departsName != ''">
				AND a.departs_name LIKE
				    <if test="_databaseId == 'postgre'">'%'||#{departsName}||'%'</if>
					<if test="_databaseId == 'oracle'">'%'||#{departsName}||'%'</if>
					<if test="_databaseId == 'mssql'">'%'+#{departsName}+'%'</if>
					<if test="_databaseId == 'mysql'">concat('%',#{departsName},'%')</if>
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.ym desc,a.acctid asc
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="QiYeWxDaKaMonth" >
		SELECT 
			<include refid="qiYeWxDaKaMonthColumns"/>
		FROM qiyewx_daka_month a
		<include refid="qiYeWxDaKaMonthJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO qiyewx_daka_month(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			ym,
			record_type,
			name,
			acctid,
			departs_name
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{ym},
			#{recordType},
			#{name},
			#{acctid},
			#{departsName}
		)
	</insert>
	
	<update id="update">
		UPDATE qiyewx_daka_month SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			record_type = #{recordType},
			name = #{name},
			acctid = #{acctid},
			departs_name = #{departs_name}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM qiyewx_daka_month
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE qiyewx_daka_month SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="QiYeWxDaKaMonth" statementType="STATEMENT">
		select * FROM qiyewx_daka_month  where ${propertyName} = '${value}'
	</select>
	
</mapper>