<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.qiyewx.daka.month.mapper.QiYeWxDaKaMonthSummaryMapper">
    
	<sql id="qiYeWxDaKaMonthSummaryColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.month_id AS "month.id",
		a.work_days AS "workDays",
		a.regular_days AS "regularDays",
		a.except_days AS "exceptDays",
		a.regular_work_sec AS "regularWorkSec",
		a.standard_work_sec AS "standardWorkSec"
	</sql>
	
	<sql id="qiYeWxDaKaMonthSummaryJoins">
		
			LEFT JOIN qiyewx_daka_month b ON b.id = a.month_id
	</sql>
	<select id="getDaysOfChuQin" resultType="QiYeWxDaKaMonthSummary">
		SELECT
		a.work_days AS "workDays",
		a.regular_days AS "regularDays",
		a.except_days AS "exceptDays",
		a.regular_work_sec AS "regularWorkSec",
		a.standard_work_sec AS "standardWorkSec"
		FROM qiyewx_daka_month_summary a
		WHERE a.month_id = #{mid} limit 0;
	</select>
	<select id="get" resultType="QiYeWxDaKaMonthSummary" >
		SELECT 
			<include refid="qiYeWxDaKaMonthSummaryColumns"/>
		FROM qiyewx_daka_month_summary a
		<include refid="qiYeWxDaKaMonthSummaryJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="QiYeWxDaKaMonthSummary" >
		SELECT 
			<include refid="qiYeWxDaKaMonthSummaryColumns"/>
		FROM qiyewx_daka_month_summary a
		<include refid="qiYeWxDaKaMonthSummaryJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="month != null and month.id != null and month.id != ''">
				AND a.month_id = #{month.id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="QiYeWxDaKaMonthSummary" >
		SELECT 
			<include refid="qiYeWxDaKaMonthSummaryColumns"/>
		FROM qiyewx_daka_month_summary a
		<include refid="qiYeWxDaKaMonthSummaryJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO qiyewx_daka_month_summary(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			month_id,
			work_days,
			regular_days,
			except_days,
			regular_work_sec,
			standard_work_sec
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{month.id},
			#{workDays},
			#{regularDays},
			#{exceptDays},
			#{regularWorkSec},
			#{standardWorkSec}
		)
	</insert>
	
	<update id="update">
		UPDATE qiyewx_daka_month_summary SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			month_id = #{month.id},
			work_days = #{workDays},
			regular_days = #{regularDays},
			except_days = #{exceptDays},
			regular_work_sec = #{regularWorkSec},
			standard_work_sec = #{standardWorkSec}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM qiyewx_daka_month_summary
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE month_id = #{month.id}
			</otherwise>
		</choose>
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE qiyewx_daka_month_summary SET 
			del_flag = #{DEL_FLAG_DELETE}
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE month_id = #{month.id}
			</otherwise>
		</choose>
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="QiYeWxDaKaMonthSummary" statementType="STATEMENT">
		select * FROM qiyewx_daka_month_summary  where ${propertyName} = '${value}'
	</select>
	
</mapper>