<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.business.route.mapper.BusinessRouteMapper">
    
	<sql id="businessRouteColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.del_flag AS "delFlag",
		a.product_id AS "product.id",
		a.no AS "no",
		a.site_id AS "site.id",
		a.filename as "filename",
		a.file_url AS "fileurl",
		a.version AS "version",
		a.status AS "status",
		a.remarks AS "remarks",
		product.name AS "product.name",
		site.name AS "site.name"
	</sql>
	
	<sql id="businessRouteJoins">
		LEFT JOIN business_product product ON product.id = a.product_id
		LEFT JOIN base_site site ON site.id = a.site_id
	</sql>
	
    
	<select id="get" resultType="BusinessRoute" >
		SELECT 
			<include refid="businessRouteColumns"/>
		FROM business_route a
		<include refid="businessRouteJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="BusinessRoute" >
		SELECT 
			<include refid="businessRouteColumns"/>
		FROM business_route a
		<include refid="businessRouteJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="product != null and product.id != null and product.id != ''">
				AND a.product_id = #{product.id}
			</if>
			<if test="site != null and site.id != null and site.id != ''">
				AND a.site_id = #{site.id}
			</if>
			<if test="version!=null and version!=''">
				and a.version = #{version}
			</if>
			<if test="status!=null and status!=''">
				and a.status = #{status}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.no asc
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="BusinessRoute" >
		SELECT 
			<include refid="businessRouteColumns"/>
		FROM business_route a
		<include refid="businessRouteJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO business_route(
			create_by,
			create_date,
			update_by,
			update_date,
			del_flag,
			product_id,
			no,
			site_id,
			filename,
			file_url,
			version,
			status,
			remarks
		) VALUES (
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{delFlag},
			#{product.id},
			#{no},
			#{site.id},
		    #{filename},
			#{fileurl},
			#{version},
			#{status},
			#{remarks}
		)
	</insert>
	
	<update id="update">
		UPDATE business_route SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			product_id = #{product.id},
			no = #{no},
			site_id = #{site.id},
		    filename = #{filename},
			file_url = #{fileurl},
			version = #{version},
			status = #{status},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM business_route
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE business_route SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="BusinessRoute" statementType="STATEMENT">
		select * FROM business_route  where ${propertyName} = '${value}'
	</select>
	
</mapper>