<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.u8data.invpostionsum.mapper.U8InvPostionSumMapper">
    <sql id="sumColumns">
        a.cWhCode as "cwhcode",
        a.cWhName as  "cwhname",
        a.cInvCode as "cinvcode",
        a.cInvName as "cinvname",
        a.cInvStd as "cinvstd",
        a.cInvCCode as "cinvtype",
        a.iQuantity as "iquantity",
        a.cBatch as "cbatch",
        a.cMassUnit as "cMassUnit",
        a.iMassDates as "iMassDates",
        a.dMadeDate as "dMadeDate",
        a.iMassDate as "iMassDate",
        a.dVDate as "dVDate",
        a.cExpirationdate as "cExpirationdate",
        a.cPosCode as "cPosCode"
    </sql>
    <sql id="sumJoins">

    </sql>
    <!--
         -->
    <select id="findList" resultType="U8InvPostionSum">
        select
        <include refid="sumColumns"/>
        from YT_API_ERP_view_InvPositionSum a
        <include refid="sumJoins"/>
        <where>
            <if test="cinvcode != null and cinvcode != '' ">
                and a.cInvCode = #{cinvcode}
            </if>
        </where>
    </select>

</mapper>