<%
layout("/include/_container.html", {title:"列表", parent:"计划工单"}){
%><div class="row">
	<div class="col-sm-3 col-md-2 p-r-5">
		<div class="white-box" style="height: 794px;">
			<div>
				<div style="width: calc(100% - 50px);float: left">
					<div class="input-group">
					<span class="input-group-prepend">
						<button type="button" class="btn btn-sm waves-effect waves-light btn-custom"><i class="fa fa-search"></i></button>
					</span>
						<input type="text" class="form-control input-sm" id="search_q" placeholder="查找...">
					</div>
				</div>
			</div>
			<div id="businessProductTypeOnlyReadjsTree"></div>
		</div>
	</div>
	<div class="col-sm-9 col-md-10" style="padding-left: 0px">
    <!-- 文件上传 -->
    <div id="import-collapse" class="collapse white-box m-b-5">
        <a class="jp-ti-close close close" onclick="$('#import-collapse').fadeToggle()">
            <i class="fa fa-times"></i>
        </a>
        <form id="importForm" method="POST" enctype="multipart/form-data" class="row form-horizontal" >
            <div class="col-xs-12 col-sm-6">
                <input name="file" type="file" class="required form-control">只允许导入&ldquo;xls&rdquo;或&ldquo;xlsx&rdquo;格式文件！<br>　

            </div>
            <div class="col-xs-12 col-sm-6">
                <a  id="btnImportExcel"  class="btn btn-custom waves-effect waves-light btn-rounded m-l-10 btn-md"><i class="fa fa-upload"></i> 开始上传</a>
                <a  id="btnDownloadTpl" class="btn btn-custom waves-effect waves-light btn-rounded m-l-10 btn-md"><i class="fa fa-download"></i> 下载模板</a>
            </div>　
        </form>
    </div>
    <!-- 搜索框-->
    <div id="search-collapse" class="white-box collapse m-b-5">
        <a class="jp-ti-close close" onclick="$('#search-collapse').fadeToggle()">
            <i class="fa fa-times"></i>
        </a>
        <form id="searchForm" class="form-inline">
			<div class="form-group m-b-10 m-r-10">
				<label class="m-r-10" title="生产单号：">单号：</label>
				<input name="code"  maxlength="64"  class=" form-control"/>
			</div>
			<div class="form-group m-b-10 m-r-10">
				<label class="m-r-10" title="生产单号：">生产单号：</label>
				<input name="sccode"  maxlength="64"  class=" form-control"/>
			</div>
			<div class="form-group m-b-10 m-r-10">
				<label class="m-r-10" title="生产单号：">生产订单行号：</label>
				<input name="orderno"  maxlength="64"  class=" form-control"/>
			</div>
			<div class="form-group m-b-10 m-r-10">
				<label class="m-r-10" title="生产单号：">存货编码：</label>
				<input name="cinvcode"  maxlength="64"  class=" form-control"/>
			</div>
			<div class="form-group m-b-10 m-r-10">
				<label class="m-r-10" title="生产单号：">存货名称：</label>
				<input name="cinvname"  maxlength="64"  class=" form-control"/>
			</div>
			<div class="form-group m-b-10 m-r-10">
				<label class="m-r-10" title="生产单号：">规格型号：</label>
				<input name="cinvstd"  maxlength="64"  class=" form-control"/>
			</div>
			<div class="form-group m-b-10 m-r-10">
				<label class="m-r-10" title="生产单号：">开工日期：</label>
				<div class="input-group">
					<input name="startdate" value="" id="startdate" readonly   class="form-control "/>
					<div class="input-group-append">
						<span class="input-group-text btn-custom border text-white"><i class="ti-calendar"></i></span>
					</div>
				</div>
			</div>
			<div class="form-group m-b-10 m-r-10">
				<label class="m-r-10" title="生产单号：">完工日期：</label>
				<div class="input-group">
					<input name="enddate" value="" id="enddate" readonly   class="form-control "/>
					<div class="input-group-append">
						<span class="input-group-text btn-custom border text-white"><i class="ti-calendar"></i></span>
					</div>
				</div>
			</div>
			<div class="form-group m-b-10 m-r-10">
				<label class="m-r-10" title="生产部门：">生产部门：</label>
				<#treeselect id="dept" name="dept.id"  labelName="dept.name"
				title="部门" url="/sys/office/treeData?type=2" class="form-control" allowClear="true" notAllowSelectParent="true"/>
			</div>
			<div class="form-group m-b-10 m-r-10">
				<label class="m-r-10" title="生产单号：">是否生成报工单：</label>
				<input name="isshengcheng" id="isshengcheng"  maxlength="64" readonly  class=" form-control"/>
			</div>
		    <div class="form-group m-b-10 m-r-10">
                <a  id="search" class="btn  btn-custom waves-effect waves-light m-l-10 btn-md btn-rounded"><i class="fa fa-search"></i> 查询</a>
                <a  id="reset" class="btn  btn-custom waves-effect waves-light m-l-10 btn-md btn-rounded" ><i class="fa fa-refresh"></i> 重置</a>
            </div>
        </form>
    </div>

	<div class="white-box">

	<!-- 工具栏 -->
	<div id="toolbar">
		<% if(shiro.hasPermission("business:jihuadingdan:businessJiHuaGongDan:pcedit") ){ %>
		<button id="edit" class="btn btn-white waves-effect w-xs waves-light" disabled onclick="edit()">
			修改
		</button>
		<% } %>
		<% if(shiro.hasPermission("business:jihuadingdan:businessJiHuaGongDan:shenhe") ){ %>
		<button id="chehui" class="btn btn-white waves-effect w-xs waves-light" disabled onclick="chehui()">
			撤回
		</button>
		<% } %>
		<% if(shiro.hasPermission("business:jihuadingdan:businessJiHuaGongDan:shengchengbaogongdan") ){ %>
		<button id="shengchengbaogongdan" class="btn btn-white waves-effect w-xs waves-light" disabled onclick="shengchengbaogongdan()">
			生成报工单
		</button>
		<% } %>
		    </div>
		
	<!-- 表格 -->
	<table id="businessJiHuaGongDanTable" class="table-bordered"   data-toolbar="#toolbar"></table>
	</div>
	</div>
	<% include("businessJiHuaGongDanList.js"){} %>
	<% } %>